{{#when field.type '===' 'text'}}
    <input
        autocomplete="{{name}}"
        class="form-control"
        name="{{@key}}"
        type="text"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'email'}}
    <input
        autocomplete="email"
        class="form-control"
        name="{{@key}}"
        type="email"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'password'}}
    <input
        autocomplete="password"
        class="form-control"
        name="{{@key}}"
        type="password"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'search'}}
    <input
        autocomplete="search"
        class="form-control"
        name="{{@key}}"
        type="search"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'url'}}
    <input
        autocomplete="url"
        class="form-control"
        name="{{@key}}"
        type="url"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'color'}}
    <input
        autocomplete="color"
        class="form-control"
        name="{{@key}}"
        type="color"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'mask'}}
    <input
        autocomplete="{{name}}"
        class="form-control"
        data-do="mask-field"
        name="{{@key}}"
        type="text"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'slug'}}
    <input
        autocomplete="{{name}}"
        class="form-control"
        data-do="slugger"
        name="{{@key}}"
        type="text"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'textarea'}}
    <textarea
        class="form-control"
        name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >{{{scope ../item @key}}}</textarea>
{{/when}}
{{#when field.type '===' 'wysiwyg'}}
    <textarea
        class="form-control"
        data-do="wysiwyg"
        name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >{{{scope ../item @key}}}</textarea>
{{/when}}
{{#when field.type '===' 'markdown'}}
    <textarea
        class="form-control"
        data-do="markdown-editor"
        name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >{{{scope ../item @key}}}</textarea>
{{/when}}
{{#when field.type '===' 'code'}}
    <textarea
        class="form-control hidden"
        data-do="code-editor"
        name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >{{{scope ../item @key}}}</textarea>
{{/when}}
{{#when field.type '===' 'number'}}
    <input
        autocomplete="{{name}}"
        class="form-control"
        name="{{@key}}"
        type="number"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'small'}}
    <input
        autocomplete="{{name}}"
        class="form-control"
        max="9"
        min="0"
        name="{{@key}}"
        step="1"
        type="number"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'range'}}
    <input
        class="irs-hidden-input"
        data-do="multirange-field"
        name="{{@key}}"
        tabindex="-1"
        type="hidden"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'float'}}
    <input
        autocomplete="{{name}}"
        class="form-control"
        name="{{@key}}"
        type="number"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'price'}}
    <input
        autocomplete="{{name}}"
        class="form-control"
        name="{{@key}}"
        step="0.01"
        type="number"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'date'}}
    <input
        aria-haspopup="true"
        aria-expanded="false"
        class="form-control date"
        data-do="date-field"
        name="{{@key}}"
        type="text"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'time'}}
    <input
        aria-haspopup="true"
        aria-expanded="false"
        class="form-control date"
        data-do="time-field"
        name="{{@key}}"
        type="text"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'datetime'}}
    <input
        aria-haspopup="true"
        aria-expanded="false"
        class="form-control date"
        data-do="datetime-field"
        name="{{@key}}"
        type="text"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'week'}}
    <input
        class="form-control"
        name="{{@key}}"
        type="week"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'month'}}
    <input
        class="form-control"
        name="{{@key}}"
        type="month"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'checkbox'}}
    <input
        name="{{@key}}"
        type="hidden"
        value="0"
    />
    <label class="checkbox checkbox-2">
        <input
            name="{{@key}}"
            type="checkbox"
            value="1"
            {{#when ../item @key '==' 1}}checked{{/when}}
            {{#each field.attributes}}
                {{@key}}="{{this}}"
            {{/each}}
        />
        <span>{{field.attributes.placeholder}}</span>
    </label>
{{/when}}
{{#when field.type '===' 'switch'}}
    <input
        name="{{@key}}"
        type="hidden"
        value="0"
    />
    <label class="switch switch-6">
        <input
            name="{{@key}}"
            type="checkbox"
            value="1"
            {{#when ../item @key '==' 1}}checked{{/when}}
            {{#each field.attributes}}
                {{@key}}="{{this}}"
            {{/each}}
        />
        <span>{{field.attributes.placeholder}}</span>
    </label>
{{/when}}
{{#when field.type '===' 'knob'}}
    <input
        class="form-control"
        data-do="knob-field"
        name="{{@key}}"
        type="text"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'select'}}
    <select
        class="form-control"
        name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        {{#each field.options}}
            <option
                value="{{./key}}"
                {{#when ../../item ../@key '==' key}}selected{{/when}}
            >
                {{value}}
            </option>
        {{/each}}
    </select>
{{/when}}
{{#when field.type '===' 'multiselect'}}
    <select
        class="form-control"
        data-do="select-field"
        multiple="multiple"
        name="{{@key}}[]"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        {{#each field.options}}
            <option
                value="{{./key}}"
                {{#in ../../item ../@key key}}selected{{/in}}
            >
                {{value}}
            </option>
        {{/each}}
    </select>
{{/when}}
{{#when field.type '===' 'checkboxes'}}
    <div{{#each field.attributes}} {{@key}}="{{this}}"{{/each}}>
        {{#each field.options}}
            <label class="checkbox checkbox-2">
                <input
                    name="{{../@key}}[]"
                    type="checkbox"
                    value="{{./key}}"
                    {{#when ../../item ../@key '==' key}}checked{{/when}}
                />
                <span>{{value}}</span>
            </label>
        {{/each}}
    </div>
{{/when}}
{{#when field.type '===' 'radios'}}
    <div{{#each field.attributes}} {{@key}}="{{this}}"{{/each}}>
        {{#each field.options}}
            <label class="radio radio-2">
                <input
                    name="{{../@key}}"
                    type="radio"
                    value="{{./key}}"
                    {{#when ../../item ../@key '==' key}}checked{{/when}}
                />
                <span>{{value}}</span>
            </label>
        {{/each}}
    </div>
{{/when}}
{{#when field.type '===' 'file'}}
    <table
        class="table table-striped file-field"
        data-do="file-field"
        data-name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        <thead>
            <tr>
                <th>Preview</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{#scope ../item @key}}
                <tr class="file-field-none" style="display:none;">
                    <td colspan="5">
                        <div class="alert alert-info">No File Selected</div>
                    </td>
                </tr>
                <tr class="file-field-item" data-index="{INDEX}">
                    <td class="file-field-preview">
                        {{#fileinfo this}}
                            {{#in 'jpg,jpeg,png,gif' extension}}
                                <div class="file-field-preview-container">
                                    <img src="{{../this}}" height="50" />
                                </div>
                            {{else}}
                                <div class="file-field-preview-container">
                                    <i class="fas fa-file text-info"></i>
                                    <span class="file-field-extension">{{extension}}</span>
                                </div>
                            {{/in}}
                        {{/fileinfo}}
                    </td>
                    <td class="file-field-name">
                        {{this}}
                        <input name="{{../@key}}" type="hidden" value="{{this}}" />
                    </td>
                </tr>
            {{else}}
                <tr class="file-field-none">
                    <td colspan="5">
                        <div class="alert alert-info">No File Selected</div>
                    </td>
                </tr>
            {{/scope}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <button
                        class="file-field-upload btn btn-info"
                        type="button"
                    >
                        Choose File
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
{{/when}}
{{#when field.type '===' 'files'}}
    <table
        class="table table-striped file-field"
        data-do="file-field"
        data-name="{{@key}}"
        data-multiple="1"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        <thead>
            <tr>
                <th>Preview</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#scope ../item @key}}
                {{#if this.length}}
                    {{#each this}}
                        <tr class="file-field-none" style="display:none;">
                            <td colspan="5">
                                <div class="alert alert-info">No Files Selected</div>
                            </td>
                        </tr>
                        <tr class="file-field-item" data-index="{{@index}}">
                            <td class="file-field-preview">
                                {{#fileinfo this}}
                                    {{#in 'jpg,jpeg,png,gif' extension}}
                                        <div class="file-field-preview-container">
                                            <img src="{{../this}}" height="50" />
                                        </div>
                                    {{else}}
                                        <div class="file-field-preview-container">
                                            <i class="fas fa-file text-info"></i>
                                            <span class="file-field-extension">{{extension}}</span>
                                        </div>
                                    {{/in}}
                                {{/fileinfo}}
                            </td>
                            <td class="file-field-name">
                                {{this}}
                                <input name="{{../../@key}}[]" type="hidden" value="{{this}}" />
                            </td>
                            <td class="file-field-actions">
                                <a class="text-info file-field-move-up" href="javascript:void(0)">
                                    <i class="fas fa-arrow-up"></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;'
                                <a class="text-info file-field-move-down" href="javascript:void(0)">
                                    <i class="fas fa-arrow-down"></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;'
                                <a class="btn btn-danger file-field-remove" href="javascript:void(0)">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr class="file-field-none">
                        <td colspan="5">
                            <div class="alert alert-info">No Files Selected</div>
                        </td>
                    </tr>
                {{/if}}
            {{else}}
                <tr class="file-field-none">
                    <td colspan="5">
                        <div class="alert alert-info">No Files Selected</div>
                    </td>
                </tr>
            {{/scope}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <button
                        class="file-field-upload btn btn-info"
                        type="button"
                    >
                        Choose Files
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
{{/when}}
{{#when field.type '===' 'image'}}
    <table
        class="table table-striped file-field"
        data-accept="image/png,image/jpg,image/jpeg,image/gif"
        data-do="file-field"
        data-name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        <thead>
            <tr>
                <th>Preview</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{#scope ../item @key}}
                <tr class="file-field-none" style="display:none;">
                    <td colspan="5">
                        <div class="alert alert-info">No File Selected</div>
                    </td>
                </tr>
                <tr class="file-field-item" data-index="{INDEX}">
                    <td class="file-field-preview">
                        {{#fileinfo this}}
                            {{#in 'jpg,jpeg,png,gif' extension}}
                                <div class="file-field-preview-container">
                                    <img src="{{../this}}" height="50" />
                                </div>
                            {{else}}
                                <div class="file-field-preview-container">
                                    <i class="fas fa-file text-info"></i>
                                    <span class="file-field-extension">{{extension}}</span>
                                </div>
                            {{/in}}
                        {{/fileinfo}}
                    </td>
                    <td class="file-field-name">
                        {{this}}
                        <input name="{{../@key}}" type="hidden" value="{{this}}" />
                    </td>
                </tr>
            {{else}}
                <tr class="file-field-none">
                    <td colspan="5">
                        <div class="alert alert-info">No Image Selected</div>
                    </td>
                </tr>
            {{/scope}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <button
                        class="file-field-upload btn btn-info"
                        type="button"
                    >
                        Choose Image
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
{{/when}}
{{#when field.type '===' 'images'}}
    <table
        class="table table-striped file-field"
        data-accept="image/png,image/jpg,image/jpeg,image/gif"
        data-do="file-field"
        data-name="{{@key}}"
        data-multiple="1"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        <thead>
            <tr>
                <th>Preview</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#scope ../item @key}}
                {{#if this.length}}
                    {{#each this}}
                        <tr class="file-field-none" style="display:none;">
                            <td colspan="5">
                                <div class="alert alert-info">No Images Selected</div>
                            </td>
                        </tr>
                        <tr class="file-field-item" data-index="{{@index}}">
                            <td class="file-field-preview">
                                {{#fileinfo this}}
                                    {{#in 'jpg,jpeg,png,gif' extension}}
                                        <div class="file-field-preview-container">
                                            <img src="{{../this}}" height="50" />
                                        </div>
                                    {{else}}
                                        <div class="file-field-preview-container">
                                            <i class="fas fa-file text-info"></i>
                                            <span class="file-field-extension">{{extension}}</span>
                                        </div>
                                    {{/in}}
                                {{/fileinfo}}
                            </td>
                            <td class="file-field-name">
                                {{this}}
                                <input name="{{../../@key}}[]" type="hidden" value="{{this}}" />
                            </td>
                            <td class="file-field-actions">
                                <a class="text-info file-field-move-up" href="javascript:void(0)">
                                    <i class="fas fa-arrow-up"></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;'
                                <a class="text-info file-field-move-down" href="javascript:void(0)">
                                    <i class="fas fa-arrow-down"></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;'
                                <a class="btn btn-danger file-field-remove" href="javascript:void(0)">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr class="file-field-none">
                        <td colspan="5">
                            <div class="alert alert-info">No Images Selected</div>
                        </td>
                    </tr>
                {{/if}}
            {{else}}
                <tr class="file-field-none">
                    <td colspan="5">
                        <div class="alert alert-info">No Images Selected</div>
                    </td>
                </tr>
            {{/scope}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <button
                        class="file-field-upload btn btn-info"
                        type="button"
                    >
                        Choose Images
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
{{/when}}
{{#when field.type '===' 'tag'}}
    <div
        data-do="tag-field"
        class="tag-field"
        data-name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        {{#scope ../item @key}}
            {{#each this}}
                <div class="tag">
                    <input
                        class="tag-input text-field"
                        type="text"
                        name="{{../../@key}}[]"
                        value="{{this}}"
                    />
                    <a
                        class="remove"
                        href="javascript:void(0)"
                    >
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            {{/each}}
        {{/scope}}
    </div>
{{/when}}
{{#when field.type '===' 'texts'}}
    <div
        data-do="texts-field"
        class="texts-field"
        data-name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        {{#scope ../item @key}}
            {{#each this}}
                <div class="field-row input-group mb-3">
                    <div class="input-group-prepend">
                        <a
                            class="input-group-text text-success move-up"
                            href="javascript:void(0)"
                        >
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    </div>
                    <div class="input-group-prepend">
                        <a
                            class="input-group-text text-orange move-down"
                            href="javascript:void(0)"
                        >
                            <i class="fas fa-arrow-down"></i>
                        </a>
                    </div>
                    <input
                        class="text-field form-control"
                        name="{{../../@key}}[]"
                        type="text"
                        value="{{this}}"
                    />
                    <div class="input-group-append">
                        <a
                            class="input-group-text text-danger remove"
                            href="javascript:void(0)"
                        >
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
            {{/each}}
        {{/scope}}
        <a class="field-add btn btn-success" href="javascript:void(0)">
            <i class="fas fa-plus"></i>
            <span>{{_ 'Add'}}</span>
        </a>
    </div>
{{/when}}
{{#when field.type '===' 'textareas'}}
    <div
        data-do="textareas-field"
        class="textareas-field"
        data-name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        {{#scope ../item @key}}
            {{#each this}}
                <div class="field-row input-group mb-3">
                    <div class="input-group-prepend">
                        <a
                            class="input-group-text text-success move-up"
                            href="javascript:void(0)"
                        >
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    </div>
                    <div class="input-group-prepend">
                        <a
                            class="input-group-text text-orange move-down"
                            href="javascript:void(0)"
                        >
                            <i class="fas fa-arrow-down"></i>
                        </a>
                    </div>
                    <textarea
                        class="text-field form-control"
                        name="{{../../@key}}[]"
                    >{{this}}</textarea>
                    <div class="input-group-append">
                        <a
                            class="input-group-text text-danger remove"
                            href="javascript:void(0)"
                        >
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
            {{/each}}
        {{/scope}}
        <a class="field-add btn btn-success" href="javascript:void(0)">
            <i class="fas fa-plus"></i>
            <span>{{_ 'Add'}}</span>
        </a>
    </div>
{{/when}}
{{#when field.type '===' 'wysiwygs'}}
    <div
        data-do="wysiwygs-field"
        class="wysiwygs-field"
        data-name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        {{#scope ../item @key}}
            {{#each this}}
                <div class="field-row mb-3">
                    <div class="btn-group mb-2">
                        <a
                            class="btn btn-danger remove"
                            href="javascript:void(0)"
                        >
                            <i class="fas fa-times"></i>
                        </a>
                        <a
                            class="btn btn-success move-up"
                            href="javascript:void(0)"
                        >
                            <i class="fas fa-arrow-up"></i>
                        </a>
                        <a
                            class="btn btn-orange move-down"
                            href="javascript:void(0)"
                        >
                            <i class="fas fa-arrow-down"></i>
                        </a>
                    </div>
                    <textarea
                        data-do="wysiwyg"
                        class="text-field form-control"
                        name="{{../../@key}}[]"
                    >{{this}}</textarea>
                </div>
            {{/each}}
        {{/scope}}
        <a class="field-add btn btn-success" href="javascript:void(0)">
            <i class="fas fa-plus"></i>
            <span>{{_ 'Add'}}</span>
        </a>
    </div>
{{/when}}
{{#when field.type '===' 'meta'}}
    <div
        data-do="meta-field"
        class="meta-field"
        data-name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >
        {{#scope ../item @key}}
            {{#each this}}
                <div class="field-row input-group mb-3">
                    <input
                        class="meta-input key form-control"
                        type="text"
                        placeholder="{{_ 'Key'}}"
                        value="{{@key}}"
                    />
                    <textarea
                        class="meta-input value form-control"
                        placeholder="{{_ 'Value'}}"
                        rows="1"
                    >{{this}}</textarea>
                    <input
                        type="hidden"
                        name="{{../../@key}}[{{@key}}]"
                        value="{{this}}"
                    />
                    <div class="input-group-append">
                        <a
                            class="input-group-text text-danger remove"
                            href="javascript:void(0)"
                        >
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
            {{/each}}
        {{/scope}}
        <a class="field-add btn btn-success" href="javascript:void(0)">
            <i class="fas fa-plus"></i>
            <span>{{_ 'Add'}}</span>
        </a>
    </div>
{{/when}}
{{#when field.type '===' 'multirange'}}
    <input
        class="irs-hidden-input"
        data-do="multirange-field"
        data-type="double"
        name="{{@key}}"
        tabindex="-1"
        type="hidden"
        value="{{scope ../item @key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    />
{{/when}}
{{#when field.type '===' 'rawjson'}}
    <textarea
        class="form-control hidden"
        data-do="code-editor"
        data-mode="json"
        name="{{@key}}"
        {{#each field.attributes}}
            {{@key}}="{{this}}"
        {{/each}}
    >{{{json_encode ../item @key}}}</textarea>
{{/when}}
{{#when field.type '===' 'multifield'}}
    {{#each field.schema.detail}}
        {{#when field.type '!=' 'multifield'}}
            {{#notin 'none,hide,active,created,updated,uuid' field.type}}
                <div class="form-group{{#has ../errors @key}} has-error{{/has}}">
                    <label class="control-label">{{label}}</label>
                    <div>
                        {{> form_schema}}
                        {{#has ../errors @key}}
                            <span class="help-text">{{scope ../errors @key}}</span>
                        {{/has}}
                    </div>
                </div>
            {{/notin}}
        {{/when}}
    {{/each}}
{{/when}}
