
{{#each formats}}
    {{#if fieldset}}
        {{#if this.formats}}
        <script id="fieldset-template-{{config.parameters}}" type="text/x-template">
        {{/if}}

        {{#unless this.formats}}
            <div class="fieldsets mb-3">
                <fieldset 
                    class="form-group"
                    data-fieldset="{{config.parameters}}"
                    data-reindex="{{@key}}"
                >
                    <label>{{label}}</label>
        {{/unless}}
                    {{#if this.formats}}
                        <div class="fieldset border mb-2 p-3">
                            <a 
                                href="javscript:void(0)" 
                                class="text-danger float-right" 
                                data-schema="{{../config.parameters}}"
                                data-do="fieldset-remove" 
                                data-on="click"
                            >
                                <i class="fa fa-times"></i>
                            </a>
                            {{{partial 'form_set-template' this}}}
                        </div>

                    {{else}}
                        <div>
                            <a 
                                class="btn btn-success fieldset-add" 
                                data-do="fieldset-add" 
                                data-on="click"
                                data-fieldset="{{config.parameters}}"
                            >
                                <i class="fas fa-plus"></i>
                                {{_ 'Add'}} {{label}}
                            </a>
                        </div>
                    {{/if}}

        {{#unless this.formats}}
                </fieldset>
            </div>
        {{/unless}}

        {{#if this.formats}}
        </script>
        {{/if}}
    {{else}}
        <div class="form-group">
            <label class="control-label">{{label}}</label>
            <div class="form-{{config.type}}">
                {{{value}}}
            </div>
        </div>
    {{/if}}
{{/each}}
