<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                <i class="fas fa-home"></i> {{_ 'Admin'}}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/admin/system/model/{{model}}/search">
                <i class="{{icon}}"></i> {{package}}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-calendar-alt"></i> {{_ 'Pipeline'}}
        </li>
    </ol>
</nav>
 
<div class="main-padding">
    <h3 class="main-title">{{title}}</h3>
    <div class="box search-filters">
        <div class="box-head box-default">
            <h3 class="box-title">{{_ 'Filters'}}</h3>
        </div>
        <form method="get">
            <div class="box-body box-padding">
                <div class="form-group">
                    <label for="q">{{_ 'Search'}}</label>
                    <input
                        class="form-control"
                        name="q"
                        placeholder="Enter Search {{schema.plural}}"
                        type="search"
                        value="{{q}}"
                    />
                </div>

                {{#if schema.filterable.length}}
                    {{> search_form}}
                {{else}}
                    {{#if filterable_relations.length}}
                        {{> search_form}}
                    {{/if}}
                {{/if}}
            </div>
            <div class="box-foot box-light">
                <div class="box-left">
                    <button class="btn btn-danger" type="reset">{{_ 'Reset'}}</button>
                </div>
                <div class="box-right">
                    <button class="btn btn-primary">{{_ 'Search'}}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row board-container">
        <div class="pipeline-board">
            {{#each stages}}
                <div
                    class="column"
                    data-do="board"
                    data-currency="{{../currency}}"
                    data-stage="{{value}}"
                    data-model={{../model}}
                    data-field={{../show}}
                    data-max-range="{{../stageHeader.maxRange}}"
                    data-min-range="{{../stageHeader.minRange}}"
                    data-total="{{../stageHeader.total}}"
                    data-profile-true={{../profile}}
                    {{#if ../order}}
                        data-order="{{../order}}"
                    {{/if}}
                >
                    <div class="stage">
                        <div class="stage-label">
                            <span class="stage-name">{{value}}</span>
                            <span class="badge badge-pill badge-dark"></span>
                        </div>
                        <div class="progress-container">
                            <div class="progress">
                                <div
                                    class="progress-bar bg-danger "
                                    role="progressbar"
                                    aria-valuenow="{{percentage}}"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width: {{percentage}}%"
                                >
                                    {{percentage}}%
                                </div>
                            </div>
                        </div>
                        <div class="total-range-container">
                        </div>
                    </div>
                    <hr class="m-0"/>
                    <div class="draggable-wrapper">
                        <ul class="board-stage"></ul>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="{{settings 'cdn'}}/components/jquery-sortable/source/js/jquery-sortable-min.js"></script>
