<link rel="stylesheet" type="text/css" media="print" href="{{settings 'cdn'}}/components/fullcalendar/dist/fullcalendar.print.css">
{{#if breadcrumb}}
    {{#is_array breadcrumb}}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {{#each breadcrumb}}
                    <li class="breadcrumb-item{{#if active}} active{{/if}}">
                        {{#if link}}
                            <a href="{{link}}">
                                <i class="{{icon}}"></i> {{page}}
                            </a>
                        {{else}}
                            <i class="{{icon}}"></i> {{page}}
                        {{/if}}
                    </li>
                {{/each}}
            </ol>
        </nav>
    {{/is_array}}
{{/if}}

<div class="main-padding">
    <h3 class="main-title">{{title}}</h3>
    <div class="calender-head clearfix">
        <div class="float-left">
            <div class="btn-group">
                <a
                    class="btn btn-light"
                    href="?{{query 'start_date' prev}}"
                >
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a
                    class="btn btn-light"
                    href="?{{query 'start_date' next}}"
                >
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <a
                class="btn btn-light{{#when start_date '==' today}} active{{/when}}
                {{~#unless start_date}} active{{/unless}}"
                href="?{{query 'start_date' today}}"
            >
                {{~_ 'today'~}}
            </a>
        </div>
        <div class="float-right">
            <a
                class="btn btn-light{{#when view '==' 'month'}} active{{/when}}
                {{~#unless view}} active{{/unless}}"
                href="?{{query 'view' 'month'}}"
            >
                {{~_ 'month'~}}
            </a>
            <a
                class="btn btn-light{{#when view '==' 'agendaWeek'}} active{{/when}}"
                href="?{{query 'view' 'agendaWeek'}}"
            >
                {{~_ 'week'~}}
            </a>
            <a
                class="btn btn-light{{#when view '==' 'agendaDay'}} active{{/when}}"
                href="?{{query 'view' 'agendaDay'}}"
            >
                {{~_ 'day'~}}
            </a>
            <a
                class="btn btn-light{{#when view '==' 'listWeek'}} active{{/when}}"
                href="?{{query 'view' 'listWeek'}}"
            >
                {{~_ 'list'~}}
            </a>
        </div>
    </div>
    <!--
        data-ajax - where it will pull the data
        data-view - month | listWeek | agendaWeek | agendaDay
        data-event-id - primary_id of the schema
        data-event-title - field for the title
        data-event-link - link page
        data-event-start = date field for start
        data-event-end = date field for end
        data-date = the starting date
    -->
    <div
        data-ajax="{{ajax}}"
        data-do="calendar"
        data-event-id="{{schema.primary}}"
        data-event-title="{{schema.suggestion}}"
        data-event-link="{{detail}}"
        data-event-start="{{show.0}}"
        data-event-end="{{show.1}}"
        data-view="{{view}}"
        data-date="{{start_date}}"
        id="calendar"
    ></div>
</div>
