<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                <i class="fas fa-home"></i> {{_ 'Admin'}}
            </a>
        </li>
        {{#if relation.suggestion}}
            <li class="breadcrumb-item">
                <a href="/admin/system/model/{{relation.schema.name}}/search">
                    <i class="{{relation.schema.icon}}"></i> {{relation.schema.plural}}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/admin/system/model/{{relation.schema.name}}/update/{{scope relation.data relation.schema.primary}}">
                    {{relation.suggestion}}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/admin/system/model/{{schema.name}}/search/{{relation.schema.name}}/{{scope relation.data relation.schema.primary}}">
                    <i class="fas fa-{{schema.icon}}"></i> {{schema.plural}}
                </a>
            </li>
        {{else}}
            <li class="breadcrumb-item">
                <a href="/admin/system/model/{{schema.name}}/search">
                    <i class="fas fa-{{schema.icon}}"></i> {{schema.plural}}
                </a>
            </li>
        {{/if}}
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-eye"></i> {{title}}
        </li>
    </ol>
</nav>

<div class="main-padding">
    <div class="row">
        <div class="col-sm-8">
            <div class="box">
                <div class="box-head box-default">
                    <div class="box-title">{{detail.suggestion}}</div>
                </div>
                <div class="box-body box-padding">
                    <table class="table table-striped">
                        <tbody>
                            {{#format 'detail' schema.name detail}}
                                {{#each formats}}
                                    <tr>
                                        <td><strong>{{label}}</strong></td>
                                        <td>{{{value}}}</td>
                                    </tr>
                                {{/each}}
                            {{/format}}
                        </tbody>
                    </table>
                </div>
                <div class="box-foot box-light">
                    <div class="box-left">
                        <a
                            href="/admin/system/model/{{schema.name}}/update/{{scope detail schema.primary}}?redirect_uri={{redirecturl}}"
                            class="btn btn-grey"
                        >
                            <i class="fa fa-edit"></i> {{_ 'Edit %s' schema.singular}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{#if schema.relations.length}}
            <div class="col-sm-4">
                <div class="box">
                    <div class="box-head box-light">
                        <div class="box-title">{{_ 'Relations'}}</div>
                    </div>
                    <div class="box-body box-padding">
                        <table class="table table-striped">
                            <tbody>
                                {{#relations schema.name 0}}
                                    {{#has ../detail name}}
                                        {{#scope ../detail name}}
                                            <tr>
                                                <td>{{../singular}}</td>
                                                <td>
                                                    <a href="/admin/system/model/{{../name}}/detail/{{scope this ../primary}}">
                                                        {{suggest ../this this}}
                                                    </a>
                                                    &nbsp;&nbsp;
                                                    <a
                                                        class="text-pink remove"
                                                        href="/admin/system/model/{{../../schema.name}}/{{scope ../../item ../../schema.primary}}/unlink/{{../name}}/{{scope this ../primary}}?redirect_uri={{../../redirect}}"
                                                        title="Remove {{../singular}}"
                                                    >
                                                        <i class="fa fa-unlink"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {{/scope}}
                                    {{/has}}
                                {{/relations}}
                                {{#relations schema.name 1}}
                                    {{#has ../detail primary}}
                                        <tr>
                                            <td>{{singular}}</td>
                                            <td>
                                                <a href="/admin/system/model/{{name}}/detail/{{scope ../detail primary}}">
                                                    {{suggest this ../detail}}
                                                </a>
                                            </td>
                                        </tr>
                                    {{/has}}
                                {{/relations}}
                                {{#relations schema.name 2}}
                                    <tr>
                                        <td>{{singular}}</td>
                                        <td>
                                            <a href="/admin/system/model/{{../schema.name}}/{{scope ../detail ../schema.primary}}/search/{{name}}">
                                                {{_ 'View All %s' plural}}
                                            </a>
                                        </td>
                                    </tr>
                                {{/relations}}
                                {{#relations schema.name 3}}
                                    <tr>
                                        <td>{{singular}}</td>
                                        <td>
                                            <a href="/admin/system/model/{{../schema.name}}/{{scope ../detail ../schema.primary}}/search/{{name}}">
                                                {{_ 'View All %s' plural}}
                                            </a>
                                        </td>
                                    </tr>
                                {{/relations}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
