<div class="clearfix mb-4 search-actions">
    {{#if rows.length}}
        <div class="float-left mr-2">
            <div class="input-group">
                <select class="form-control" name="bulk-action">
                    <option value="remove">{{_ 'Remove'}}</option>
                    <option value="restore">{{_ 'Restore'}}</option>
                </select>
                <button class="btn btn-secondary">{{_ 'Apply'}}</button>
            </div>
        </div>
    {{/if}}

    <div class="float-left mr-2">
        <div class="input-group">
            <select class="form-control" name="range" data-do="model-range" data-on="change">
                <option value="25" {{#when range '==' '25'}}selected{{/when}}>Show 25</option>
                <option value="50" {{#when range '==' '50'}}selected{{/when}}>Show 50</option>
                <option value="100" {{#when range '==' '100'}}selected{{/when}}>Show 100</option>
                <option value="200" {{#when range '==' '200'}}selected{{/when}}>Show 200</option>
                <option value="0" {{#when range '==' '0'}}selected{{/when}}>Show All</option>
            </select>
        </div>
    </div>

    {{#if schema.active}}
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-primary" href="?filter[{{schema.active}}]=1">
                {{_ 'Active'}}
            </a>
            <a class="btn btn-danger" href="?filter[{{schema.active}}]=0">
                {{_ 'Inactive'}}
            </a>
        </div>
    {{/if}}

    <div class="float-right">
        <a
            class="btn btn-pink"
            data-do="import"
            data-on="click"
            {{#if relation.schema.name}}
            data-url="/admin/system/model/{{relation.schema.name}}/{{scope relation.data relation.schema.primary}}/import/{{schema.name}}"
            {{else}}
            data-url="/admin/system/model/{{schema.name}}/import"
            {{/if}}
            href="javascript:void(0)"
        >
            <i class="fas fa-upload"></i> {{_ 'Import'}}
        </a>
        {{#if relation.suggestion}}
            <a class="btn btn-purple" href="/admin/system/model/{{relation.schema.name}}/{{scope relation.data relation.schema.primary}}/export/{{schema.name}}/csv?{{query}}" target="_blank">
                <i class="fas fa-download"></i> {{_ 'Export'}}
            </a>

            <a class="btn btn-yellow" href="/admin/system/model/{{relation.schema.name}}/{{scope relation.data relation.schema.primary}}/link/{{schema.name}}?redirect_uri={{redirecturl}}">
                <i class="fas fa-link"></i> {{_ 'Link %s' schema.singular}}
            </a>

            <a class="btn btn-success" href="/admin/system/model/{{relation.schema.name}}/{{scope relation.data relation.schema.primary}}/create/{{schema.name}}?redirect_uri={{redirecturl}}">
                <i class="fas fa-plus"></i> {{_ 'Create %s' schema.singular}}
            </a>
        {{else}}
            <a class="btn btn-purple" href="export/csv?{{query}}" target="_blank">
                <i class="fas fa-download"></i> {{_ 'Export'}}
            </a>
            <a class="btn btn-success" href="/admin/system/model/{{schema.name}}/create?redirect_uri={{redirecturl}}">
                <i class="fas fa-plus"></i> {{_ 'Create %s' schema.singular}}
            </a>
        {{/if}}
    </div>
</div>
