<div class="form-group">
    <a
        data-do="search-filter-toggle"
        data-on="click"
        data-toggle="collapse"
        data-target="#filter-options"
    >
        <span>more</span> <i class="fas fa-caret-down"></i>
    </a>
</div>

<div id="filter-options" class="collapse">
    {{#each filterable_relations}}
        <div class="form-group{{#has ../errors primary2}} has-error{{/has}}">
            <label class="control-label">{{singular}}</label>
            <div>
                <input
                    autocomplete="off"
                    class="form-control suggestion-label-{{name}}"
                    name="{{suggestion_name}}"
                    placeholder="Enter {{singular}}"
                    type="text"
                    value="{{scope ../item suggestion_name}}"
                />
                <input
                    class="suggestion-value-{{name}}"
                    name="filter[{{primary2}}]"
                    type="hidden"
                    value="{{scope ../item primary2}}"
                />
                <div
                    class="input-suggestion d-none"
                    data-do="suggestion-field"
                    data-format="{{suggestion}}"
                    data-target-label="input.suggestion-label-{{name}}"
                    data-target-value="input.suggestion-value-{{name}}"
                    {{#in ../valid_relations name}}
                        data-url="/admin/system/model/{{name}}/search?q={QUERY}&render=false"
                    {{else}}
                        data-url="/admin/{{name}}/search?q={QUERY}&render=false"
                    {{/in}}
                    data-value="{{primary2}}"
                ></div>
                {{#has ../errors primary2}}
                    <span class="help-text">{{scope ../errors primary2}}</span>
                {{/has}}
            </div>
        </div>
    {{/each}}

    {{> search_filters}}
</div>
