<tr class="schema-field-row" data-index="{{@index}}" data-do="schema-field-row">
    <td class="schema-field-action" nowrap="nowrap" valign="middle">
        <a
            class="schema-field-copy-trigger text-purple"
            title="{{_ 'Copy %s' name}}"
            href="javascript:void(0)"
        >
            <i class="fas fa-copy fa-fw"></i>
        </a>
        {{#if disable}}
            <i class="fas fa-lock fa-fw"></i>
        {{else}}
            <a
                class="schema-field-update-trigger text-warning"
                href="javascript:void(0)"
            >
                <i class="fas fa-edit fa-fw"></i>
            </a>
        {{/if}}
        <a
            class="schema-field-move-up-trigger"
            href="javascript:void(0)"
        >
            <i class="fas fa-arrow-up fa-fw"></i>
        </a>
        <a
            class="schema-field-move-down-trigger"
            href="javascript:void(0)"
        >
            <i class="fas fa-arrow-down fa-fw"></i>
        </a>
        {{#if disable}}
            <i class="fas fa-lock fa-fw"></i>
        {{else}}
            <a
                class="schema-field-remove-trigger text-danger"
                href="javascript:void(0)"
            >
                <i class="fas fa-times fa-fw"></i>
            </a>
        {{/if}}

        {{> modal}}
    </td>
    <td class="schema-field-name-value">{{name}}</td>
    <td class="schema-field-label-value">{{label}}</td>
    <td class="schema-field-type-value">{{field.type}}</td>
    <td class="schema-field-list-value">{{list.format}}</td>
    <td class="schema-field-detail-value">{{detail.format}}</td>
    <td class="schema-field-default-value">{{#if default}}{{default}}{{else}}--{{/if}}</td>
    <td class="schema-field-searchable-value">{{#if searchable}}Yes{{else}}No{{/if}}</td>
    <td class="schema-field-filterable-value">{{#if filterable}}Yes{{else}}No{{/if}}</td>
    <td class="schema-field-sortable-value">{{#if sortable}}Yes{{else}}No{{/if}}</td>
</tr>
