<script type="text/javascript">
(function($) {
    var copy = null;
    //----------------------------//
    // Field Table Events
    $(window).on('schema-fields-init', function(e, target) {
        //add field
        $('button.field-add', target).click(function() {
            var target = $(this).attr('data-target');
            var index = $('tr.schema-field-row', target).length;

            $('#modal-template')
                .compile({ INDEX: index })
                .appendTo(document.body)
                .modal({
                    backdrop: 'static',
                    keyboard: false
                })
                .attr('data-target', target)
                .doon();
        });
    });

    $(window).on('schema-field-row-init', function(e, target) {
        target = $(target);

        //copy row
        $('a.schema-field-copy-trigger', target).click(function() {
            var index = $(target).parent().children('tr.schema-field-row').length;
            var modal = $(this).siblings('div.modal').eq(0);

            copy = modal
                .find('div.modal-body')
                .clone();

            $('[name]', copy).each(function() {
                var name = $(this).attr('name');

                name = name.replace(
                    /fields\[[0-9]+\]/g,
                    'fields[' + index + ']'
                );

                $(this).attr('name', name);
                $(this).attr('value', $(this).val());

                //this is for slugger
                var source = $(this).attr('data-source');
                if (source) {
                    source = source.replace(
                        /fields\[[0-9]+\]/g,
                        'fields[' + index + ']'
                    );

                    $(this).attr('data-source', source);
                }
            });

            $('[data-name]', copy).each(function() {
                var name = $(this).attr('data-name');

                name = name.replace(
                    /fields\[[0-9]+\]/g,
                    'fields[' + index + ']'
                );

                $(this).attr('data-name', name);
            });

            $('input', copy).each(function() {
                var value = $(this).val();
                $(this).attr('value', value);
            });

            $('input', copy).each(function() {
                var value = $(this).val();
                $(this).attr('value', value);
            });

            $('textarea', copy).each(function() {
                var value = $(this).val();
                $(this).html(value);
            });

            $('#modal-template')
                .compile({INDEX: index})
                .find('div.modal-body')
                .html(copy.html())
                .parents('.modal')
                .appendTo(document.body)
                .modal({
                    backdrop: 'static',
                    keyboard: false
                })
                .doon();
        });

        //update row
        $('a.schema-field-update-trigger', target).click(function() {
            var modal = $(this).siblings('div.modal').eq(0);

            modal.modal({
                backdrop: 'static',
                keyboard: false
            });

            copy = modal.find('div.modal-body').clone();
        });

        //move up row
        $('a.schema-field-move-up-trigger', target).click(function() {
            if(target.attr('data-index') == 0) {
                return;
            }

            var previous = target.prev().before(target);

            var after = target.attr('data-index');
            var before = previous.attr('data-index');

            target
                .attr('data-index', before)
                .data('index', before);

            previous
                .attr('data-index', after)
                .data('index', after);

            $(window).trigger('schema-field-row-reindex', target);
            $(window).trigger('schema-field-row-reindex', previous);
        });

        //move down row
        $('a.schema-field-move-down-trigger', target).click(function() {
            var last = target.parent().find('tr.schema-field-row').length - 1;

            if(target.attr('data-index') == last) {
                return;
            }

            var next = target.next().after(target);

            var after = next.attr('data-index');
            var before = target.attr('data-index');

            next
                .attr('data-index', before)
                .data('index', before);

            target
                .attr('data-index', after)
                .data('index', after);

            $(window).trigger('schema-field-row-reindex', target);
            $(window).trigger('schema-field-row-reindex', next);
        });

        //remove row
        $('a.schema-field-remove-trigger', target).click(function() {
            target.remove();

            target.parent().find('tr.schema-field-row').each(function(i) {
                $(this)
                    .attr('data-index', i)
                    .data('index', i);

                $(window).trigger('schema-field-row-reindex', $(this));
            });
        });
    });

    $(window).on('schema-field-row-reindex', function(e, target) {
        var index = $(target).data('index');

        var names = {
            disable: 'fields[{INDEX}][disable]'.replace('{INDEX}', index),
            label: 'fields[{INDEX}][label]'.replace('{INDEX}', index),
            name: 'fields[{INDEX}][name]'.replace('{INDEX}', index),
            type: 'fields[{INDEX}][field][type]'.replace('{INDEX}', index),
            list: 'fields[{INDEX}][list][format]'.replace('{INDEX}', index),
            detail: 'fields[{INDEX}][detail][format]'.replace('{INDEX}', index),
            value: 'fields[{INDEX}][default]'.replace('{INDEX}', index),
            searchable: 'fields[{INDEX}][searchable]'.replace('{INDEX}', index),
            filterable: 'fields[{INDEX}][filterable]'.replace('{INDEX}', index),
            sortable: 'fields[{INDEX}][sortable]'.replace('{INDEX}', index),
            validation: 'fields[{INDEX}][validation][{INDEX}][method]'.replace('{INDEX}', index)
        };

        $('div.modal-body', target).attr('data-index', index);
        $('input.field-label', target).attr('name', names.label);
        $('input.field-disabled', target).attr('name', names.disable);
        $('input.field-name', target).attr('name', names.name);
        $('select.field-type', target).attr('name', names.type);
        $('select.field-list', target).attr('name', names.list);
        $('select.field-detail', target).attr('name', names.detail);
        $('input.field-default', target).attr('name', names.value);
        $('input.field-searchable', target).attr('name', names.searchable);
        $('input.field-filterable', target).attr('name', names.filterable);
        $('input.field-sortable', target).attr('name', names.sortable);

        $('div.validation-row', target).each(function() {
            var names = {
                method: 'fields[{INDEX}][validation][{INDEX}][method]',
                message: 'fields[{INDEX}][validation][{INDEX}][message]'
            };

            var index2 = $(this).data('index');

            var method = names.method
                .replace('{INDEX}', index)
                .replace('{INDEX}', index2);

            var message = names.message
                .replace('{INDEX}', index)
                .replace('{INDEX}', index2);

            $('select.validation-method', this).attr('name', method);
            $('input.validation-message', this).attr('name', message);
        });

        $('div.input-fieldset', target).trigger('fieldset-reindex', target);
    });

    //----------------------------//
    // Modal Events
    $(window).on('modal-form-init', function(e, target) {
        var setModalState = function () {
            var select = $('select.field-type', target);
            var option = $('option[value="' + select.val() + '"]', select);

            //fixing a jQuery bug on clone
            $('option', this).removeAttr('selected');
            option.attr('selected', 'selected');

            var value = option.attr('data-default');
            var label = option.attr('data-label');
            var name = option.attr('data-name');
            var searchable = option.attr('data-searchable');
            var filterable = option.attr('data-filterable');
            var sortable = option.attr('data-sortable');
            var validation = option.attr('data-validation');

            //determine label
            if(label && label.length) {
                $('input.field-label', target).val(label);
                $('div.form-group-label', target).hide();
            } else {
                $('div.form-group-label', target).show();
            }

            //determine name
            if(name && name.length) {
                $('input.field-name', target).val(name);
                $('div.form-group-name', target).hide();
                select.parent().find('div.input-fieldset').remove();
            } else {
                $('div.form-group-name', target).show();
            }

            //determine validation
            if(parseInt(validation) === 0) {
                $('div.validation-row', target).remove();
                $('div.form-group-validation', target).hide();
            } else if(validation && validation.length) {
                $('div.form-group-validation', target).show();
            }

            //determine default
            if(value && value.length) {
                $('input.field-default', target).val(value);
                $('div.form-group-default', target).hide();
            } else {
                $('div.form-group-default', target).show();
            }

            //determine searchable
            if(searchable && searchable.length) {
                if(searchable == 1) {
                    $('input.field-searchable', target).prop('checked', true);
                } else {
                    $('input.field-searchable', target).prop('checked', false);
                }

                $('input.field-searchable', target).parent().hide();
            } else {
                $('input.field-searchable', target).parent().show();
            }

            //determine filterable
            if(filterable && filterable.length) {
                if(filterable == 1) {
                    $('input.field-filterable', target).prop('checked', true);
                } else {
                    $('input.field-filterable', target).prop('checked', false);
                }

                $('input.field-filterable', target).parent().hide();
            } else {
                $('input.field-filterable', target).parent().show();
            }

            //determine sortable
            if(sortable && sortable.length) {
                if(sortable == 1) {
                    $('input.field-sortable', target).prop('checked', true);
                } else {
                    $('input.field-sortable', target).prop('checked', false);
                }

                $('input.field-sortable', target).parent().hide();
            } else {
                $('input.field-sortable', target).parent().show();
            }
        };

        //field type change
        $('select.field-type', target).change(function() {
            var select = $(this);
            var option = $('option[value="' + select.val() + '"]', this);

            //configuration
            var fieldsets = (option.attr('data-fieldset') || '').split('|');
            var formats = (option.attr('data-format') || '').split('|');
            var indexes = (option.attr('data-index') || '').split('|');
            var index = $(this).getModelIndex();

            //reset
            $('select.field-list optgroup', target).show();
            $('select.field-detail optgroup', target).show();
            $('input.field-searchable', target).attr('disabled', false);
            $('input.field-filterable', target).attr('disabled', false);
            $('input.field-sortable', target).attr('disabled', false);

            //remove all fieldsets
            select.parent()
                .find('div.input-fieldset')
                .remove();

            fieldsets.forEach(function(field) {
                var data = [];
                var name = null;
                var fieldset = null;

                switch (field) {
                    case 'attributes':
                        fieldset = 'attributes';
                        name = 'fields[{INDEX}][field][attributes]';
                        data['name'] = name.replace('{INDEX}', index);
                        data['name-format'] = name;
                        data['placeholder-key'] = 'Attribute';
                        data['placeholder-value'] = 'Value';
                        data['placeholder-add'] = 'Add Attribute';
                        break;
                    case 'options':
                        fieldset = 'options';
                        name = 'fields[{INDEX}][field][options][{INDEX}]';
                        data['name'] = name.replace('{INDEX}',index);
                        data['name-format'] = name;
                        data['placeholder-key'] = 'Key';
                        data['placeholder-value'] = 'Value';
                        data['placeholder-add'] = 'Add Option';
                        break;
                    case 'table':
                        fieldset = 'textlist';
                        name = 'fields[{INDEX}][field][columns]';
                        data['name'] = name.replace('{INDEX}', index);
                        data['name-format'] = name;
                        data['placeholder-value'] = 'Label';
                        data['placeholder-add'] = 'Add Column';
                        break;
                    case 'fieldset':
                        fieldset = 'text';
                        name = 'fields[{INDEX}][field][parameters]';
                        data['name'] = name.replace('{INDEX}', index);
                        data['name-format'] = name;
                        data['placeholder'] = 'Keyword';
                        break;
                }

                //get the template
                var template = $('#fieldset-' + fieldset + '-template');

                //if no template
                if (!template.length) {
                    return;
                }

                fieldset = template.compile()

                //add the data in
                for (var key in data) {
                    fieldset.data(key, data[key]);
                    fieldset.attr('data-' + key, data[key]);
                }

                select.after(fieldset.doon());
            });

            //determine valid formats
            ['string', 'number', 'date', 'html', 'json'].forEach(function(type) {
                if(formats.indexOf(type) === -1) {
                    var list = $('select.field-list optgroup.filter-group-' + type, target).hide();
                    if($('option:selected', list).length) {
                        list.parent().val('none').trigger('change');
                    }

                    var detail = $('select.field-detail optgroup.filter-group-' + type, target).hide();
                    if($('option:selected', detail).length) {
                        detail.parent().val('none').trigger('change');
                    }
                }
            });

            //determine index
            ['searchable', 'filterable', 'sortable'].forEach(function(index) {
                if(indexes.indexOf(index) === -1) {
                    $('input.field-' + index, target)
                        .attr('checked', false)
                        .attr('disabled', true);
                }
            });

            setModalState();
        });

        //list format change
        $('select.field-list', target).change(function() {
            var select = $(this);
            var option = $('option[value="' + select.val() + '"]', this);
            var index = $(this).getModelIndex();

            //fixing a jQuery bug on clone
            $('option', this).removeAttr('selected');
            option.attr('selected', 'selected');

            //configuration
            var fieldsets = (option.attr('data-fieldset') || '').split('|');

            //remove all fieldsets
            select.parent().find('div.input-fieldset').remove();

            fieldsets.forEach(function(field) {
                var data = [];
                var name = null;
                var fieldset = null;

                switch (field) {
                    case 'text':
                        fieldset = 'text';
                        name = 'fields[{INDEX}][list][parameters]';
                        data['name'] = name.replace('{INDEX}', index);
                        data['name-format'] = name;
                        data['placeholder'] = option.data('placeholder');
                        break;
                    case 'textpair':
                        fieldset = 'textpair';
                        name = 'fields[{INDEX}][list][parameters]';
                        data['name'] = name.replace('{INDEX}',index);
                        data['name-format'] = name;
                        data['placeholder-1'] = option.data('placeholder-1');
                        data['placeholder-2'] = option.data('placeholder-2');
                        break;
                    case 'textarea':
                        fieldset = 'textarea';
                        name = 'fields[{INDEX}][list][parameters]';
                        data['name'] = name.replace('{INDEX}', index);
                        data['name-format'] = name;
                        data['placeholder'] = option.data('placeholder');
                        break;
                }

                //get the template
                var template = $('#fieldset-' + field + '-template');

                //if no template
                if (!template.length) {
                    return;
                }

                fieldset = template.compile();

                //add the data in
                for (var key in data) {
                    fieldset.data(key, data[key]);
                    fieldset.attr('data-' + key, data[key]);
                }

                select.after(fieldset.doon());
            });
        });

        //detail format change
        $('select.field-detail', target).change(function() {
            var select = $(this);
            var option = $('option[value="' + select.val() + '"]', this);
            var index = $(this).getModelIndex();

            //fixing a jQuery bug on clone
            $('option', this).removeAttr('selected');
            option.attr('selected', 'selected');

            //configuration
            var fieldsets = (option.attr('data-fieldset') || '').split('|');

            //remove all fieldsets
            select.parent().find('div.input-fieldset').remove();

            fieldsets.forEach(function(field) {
                var data = [];
                var name = null;
                var fieldset = null;

                switch (field) {
                    case 'text':
                        fieldset = 'text';
                        name = 'fields[{INDEX}][detail][parameters]';
                        data['name'] = name.replace('{INDEX}', index);
                        data['name-format'] = name;
                        data['placeholder'] = option.data('placeholder');
                        break;
                    case 'textpair':
                        fieldset = 'textpair';
                        name = 'fields[{INDEX}][detail][parameters]';
                        data['name'] = name.replace('{INDEX}',index);
                        data['name-format'] = name;
                        data['placeholder-1'] = option.data('placeholder-1');
                        data['placeholder-2'] = option.data('placeholder-2');
                        break;
                    case 'textarea':
                        fieldset = 'textarea';
                        name = 'fields[{INDEX}][detail][parameters]';
                        data['name'] = name.replace('{INDEX}', index);
                        data['name-format'] = name;
                        data['placeholder'] = option.data('placeholder');
                        break;
                }

                //get the template
                var template = $('#fieldset-' + field + '-template');

                //if no template
                if (!template.length) {
                    return;
                }

                fieldset = template.compile();

                //add the data in
                for (var key in data) {
                    fieldset.data(key, data[key]);
                    fieldset.attr('data-' + key, data[key]);
                }

                select.after(fieldset.doon());
            });
        });

        //add validation field
        $('button.validation-add', target).click(function() {
            var last = $(this).parent().find('div.validation-row:last');
            var index = $(this).getModelIndex();

            var index2 = 0;
            if(last.length) {
                index2 = parseInt(last.attr('data-index')) + 1;
            }

            var row = $('#field-validation-row-template')
                .compile({
                    INDEX_1: index,
                    INDEX_2: index2
                });

            $(this).before(row);

            row.doon();
        });

        setModalState();
    });

    $(window).on('modal-cancel-click', function(e, trigger) {
        var modal = $(trigger).parents('div.modal').eq(0);

        modal.modal('hide');

        if(modal.hasClass('modal-update')) {
            modal
                .find('div.modal-body')
                .replaceWith(copy);

            copy.doon();
            copy = null;
        } else {
            modal.on('hidden', function() {
                modal.remove();
            });
        }
    });

    $(window).on('modal-save-click', function(e, trigger) {
        var modal = $(trigger).parents('div.modal').eq(0);

        $('.is-error', modal).removeClass('is-error');
        $('div.error-message', modal).remove();

        var message = '<div class="error-message">Cannot be empty</div>';

        //look out for required fields
        $('.required', modal).each(function() {
            if (['INPUT', 'SELECT', 'TEXTAREA'].includes(this.tagName)) {
                if (!$(this).val().length) {
                    $(this)
                        .addClass('is-error')
                        .after(message);
                }
            } else {
                var error = false;
                var container = this;
                $('input, select, textarea', container).each(function() {
                    if (!$(this).val().length) {
                        error = true;
                    }
                });

                if (error) {
                    $(container)
                        .addClass('is-error')
                        .after(message);
                }
            }
        });

        //special cases
        $('input,textarea', modal).trigger('validation-check');

        //if there are errors
        if ($('.is-error', modal).length) {
            return;
        }

        modal.modal('hide');

        if(modal.hasClass('modal-create')) {
            var target = $('div.schema-fields tbody');
            var index = $('div.modal-body', modal).attr('data-index');

            $('#field-row-template')
                .compile({ INDEX: index })
                .appendTo(target)
                .doon()
                .find('td.schema-field-action')
                .append(modal
                    .removeClass('modal-create')
                    .addClass('modal-update')
                );
        }

        var row = $(trigger).parents('tr.schema-field-row').eq(0);

        var name = $('input.field-name', modal).val();
        $('td.schema-field-name-value', row).html(name);

        var label = $('input.field-label', modal).val();
        $('td.schema-field-label-value', row).html(label);

        var type = $('select.field-type', modal).val();
        $('td.schema-field-type-value', row).html(type);

        var list = $('select.field-list', modal).val();
        $('td.schema-field-list-value', row).html(list);

        var detail = $('select.field-detail', modal).val();
        $('td.schema-field-detail-value', row).html(detail);

        var value = $('input.field-default', modal).val();
        $('td.schema-field-default-value', row).html(value.length ? value: '--');

        var searchable = $('input.field-searchable', modal)[0].checked;
        $('td.schema-field-searchable-value', row).html(searchable ? 'Yes': 'No');

        var filterable = $('input.field-filterable', modal)[0].checked;
        $('td.schema-field-filterable-value', row).html(filterable ? 'Yes': 'No');

        var sortable = $('input.field-sortable', modal)[0].checked;
        $('td.schema-field-sortable-value', row).html(sortable ? 'Yes': 'No');

        copy = null;

        //safely close the modal
        modal.on('hidden', function() {
            modal.remove();
        });
    });

    //----------------------------//
    // Validation Events
    $(window).on('validation-row-init', function(e, target) {
        target = $(target);

        var index = target.getModelIndex();
        var index2 = target.data('index');

        $('a.remove', target).click(function() {
            target.remove();
        });

        //validation field change
        $('select', target).change(function() {
            var select = $(this);
            var option = $('option[value="' + select.val() + '"]', this);

            //fixing a jQuery bug on clone
            $('option', this).removeAttr('selected');
            option.attr('selected', 'selected');

            //configuration
            var fieldsets = (option.attr('data-fieldset') || '').split('|');

            //remove all fieldsets
            target.find('div.input-fieldset').remove();

            fieldsets.forEach(function(field) {
                var data = [];
                var name = null;
                var fieldset = null;

                switch (field) {
                    case 'text':
                        fieldset = 'text';
                        name = 'fields[{INDEX}][validation][{INDEX}][parameters]';
                        data['name'] = name
                            .replace('{INDEX}', index)
                            .replace('{INDEX}', index2);
                        data['name-format'] = name;
                        data['placeholder'] = option.data('placeholder');
                        break;
                    case 'textlist':
                        fieldset = 'textlist';
                        name = 'fields[{INDEX}][validation][{INDEX}][parameters]';
                        data['name'] = name
                            .replace('{INDEX}',index)
                            .replace('{INDEX}', index2);
                        data['name-format'] = name;
                        data['placeholder-value'] = option.data('placeholder-value');
                        data['placeholder-add'] = option.data('placeholder-add');
                        break;
                }

                //get the template
                var template = $('#fieldset-' + field + '-template');

                //if no template
                if (!template.length) {
                    return;
                }

                fieldset = template.compile();

                //add the data in
                for (var key in data) {
                    fieldset.data(key, data[key]);
                    fieldset.attr('data-' + key, data[key]);
                }

                $('input.validation-message', target).before(fieldset.doon());
            });
        });
    });

    //----------------------------//
    // Fieldset Events
    // fieldset - text
    $(window).on('fieldset-text-init', function(e, target) {
        //initalize
        target = $(target);

        $('input', target)
            .attr('placeholder', target.data('placeholder'))
            .attr('name', target.data('name'));

        //consider moving up
        //consider moving down
        target.on('fieldset-reindex', function(e, row) {
            var index = $(row).data('index');
            var name = target.data('name-format').replace('{INDEX}', index);

            //SPECIAL CASE: is there a validation row?
            var validationRow = target.parents('div.validation-row');
            if (validationRow.length) {
                name = name.replace('{INDEX}', validationRow.data('index'))
            }

            //add the name back
            target.attr('data-name', name).data('name', name);

            $('input', target).attr('name', name)
        });
    });

    // fieldset - textarea
    $(window).on('fieldset-textarea-init', function(e, target) {
        target = $(target);

        $('textarea', target)
            .attr('placeholder', target.data('placeholder'))
            .attr('name', target.data('name'));

        //consider moving up
        //consider moving down
        target.on('fieldset-reindex', function(e, row) {
            var index = $(row).data('index');
            var name = target.data('name-format').replace('{INDEX}', index);

            //SPECIAL CASE: is there a validation row?
            var validationRow = target.parents('div.validation-row');
            if (validationRow.length) {
                name = name.replace('{INDEX}', validationRow.data('index'))
            }

            //add the name back
            target.attr('data-name', name).data('name', name);

            $('textarea', target).attr('name', name)
        });
    });

    // fieldset - text pair (2 text fields)
    $(window).on('fieldset-textpair-init', function(e, target) {
        target = $(target);

        $('input.field-1', target)
            .attr('placeholder', target.data('placeholder-1'))
            .attr('name', target.data('name') + '[0]');

        $('input.field-2', target)
            .attr('placeholder', target.data('placeholder-2'))
            .attr('name', target.data('name') + '[1]');

        //consider moving up
        //consider moving down
        target.on('fieldset-reindex', function(e, row) {
            var index = $(row).data('index');
            var name = target.data('name-format').replace('{INDEX}', index);

            //SPECIAL CASE: is there a validation row?
            var validationRow = target.parents('div.validation-row');
            if (validationRow.length) {
                name = name.replace('{INDEX}', validationRow.data('index'))
            }

            //add the name back
            target.attr('data-name', name).data('name', name);

            $('input.field-1', target).attr('name', name + '[0]');
            $('input.field-2', target).attr('name', name + '[1]');
        });
    });

    // fieldset - attributes
    $(window).on('fieldset-attributes-init', function(e, target) {
        target = $(target);

        //TEMPLATES
        var template = $('#fieldset-attributes-row-template');

        //INITITALIZERS
        var init = function(row) {
            var hidden = row.find('input[type="hidden"]');

            $('a.remove', row).click(function() {
                row.remove();
            });

            $('input.input-key', row).blur(function() {
                //if no value
                if(!$(this).val() || !$(this).val().length) {
                    hidden.attr('name', '');
                    return;
                }

                hidden.attr('name', $(target).data('name') + '[' + $(this).val() +']');
            });

            $('input.input-value', row).blur(function() {
                //if no value
                if(!$(this).val() || !$(this).val().length) {
                    hidden.attr('value', '');
                    return;
                }

                hidden.attr('value', $(this).val());
            });
        };

        $('a.field-add span', target).html(
            target.data('placeholder-add')
        );

        //append meta template
        $('a.field-add', target).click(function() {
            var row = template.compile({
                NAME: target.data('name')
            });

            $('input.input-key', row).attr(
                'placeholder',
                target.data('placeholder-key')
            );

            $('input.input-value', row).attr(
                'placeholder',
                target.data('placeholder-value')
            );

            $(this).before(row);

            init(row);

            return false;
        });

        //INITIALIZE
        $('div.field-row', target).each(function() {
            init($(this));
        });

        //validation
        target.on('validation-check', function() {
            //if it has alredy been validated
            if ($('.is-error', target).length) {
                //dont do it again
                return;
            }

            var message = '<div class="error-message">Key is already used.</div>';
            var names = [];
            $('div.field-row', target).each(function() {
                var name = $('input[type="hidden"]', this).attr('name');
                if (names.indexOf(name) !== -1) {
                    $(this).addClass('is-error').after(message);
                } else {
                    names.push(name);
                }
            });
        });

        //consider moving up
        //consider moving down
        target.on('fieldset-reindex', function(e, row) {
            var index = $(row).data('index');
            var name = target.data('name-format').replace('{INDEX}', index);

            //SPECIAL CASE: is there a validation row?
            var validationRow = target.parents('div.validation-row');
            if (validationRow.length) {
                name = name.replace('{INDEX}', validationRow.data('index'))
            }

            //add the name back
            target.attr('data-name', name).data('name', name);

            $('div.field-row', target).each(function() {
                var hidden = $('input[type="hidden"]', this);
                var key = $('input.input-key', this);

                //if no value
                if(!key.val() || !key.val().length) {
                    hidden.attr('name', '');
                    return;
                }

                hidden.attr('name', $(target).data('name') + '[' + key.val() +']');
            });
        });
    });

    // fieldset - options
    $(window).on('fieldset-options-init', function(e, target) {
        target = $(target);

        //TEMPLATES
        var template = $('#fieldset-options-row-template');

        //INITITALIZERS
        var init = function(row) {
            $('a.remove', row).click(function() {
                row.remove();
            });
        };

        $('a.field-add span', target).html(
            target.data('placeholder-add')
        );

        //append meta template
        $('a.field-add', target).click(function() {
            var index = $('div.field-row', target).length;

            var row = template.compile({
                NAME: target.data('name').replace('{INDEX}', index)
            });

            row.attr('data-index', index);

            $('input.input-key', row).attr(
                'placeholder',
                target.data('placeholder-key')
            );

            $('input.input-value', row).attr(
                'placeholder',
                target.data('placeholder-value')
            );

            $(this).before(row);

            init(row);

            return false;
        });

        //INITIALIZE
        $('div.field-row', target).each(function() {
            init($(this));
        });

        //validation
        target.on('validation-check', function() {
            //if it has alredy been validated
            if ($('.is-error', target).length) {
                //dont do it again
                return;
            }

            var message = '<div class="error-message">Key is already used.</div>';
            var keys = [];
            $('div.field-row', target).each(function() {
                var key = $('input.input-key', this).val();
                if (keys.indexOf(key) !== -1) {
                    $(this).addClass('is-error').after(message);
                } else {
                    keys.push(key);
                }
            });
        });

        //consider moving up
        //consider moving down
        target.on('fieldset-reindex', function(e, row) {
            var index = $(row).data('index');
            var name = target.data('name-format').replace('{INDEX}', index);

            //SPECIAL CASE: is there a validation row?
            var validationRow = target.parents('div.validation-row');
            if (validationRow.length) {
                name = name.replace('{INDEX}', validationRow.data('index'))
            }

            //add the name back
            target.attr('data-name', name).data('name', name);

            $('div.field-row', target).each(function(i) {
                var name = target.data('name').replace('{INDEX}', i);
                $('input.input-key', this).attr('name', name + '[key]');
                $('input.input-value', this).attr('name', name + '[value]');
            });
        });
    });

    // fieldset - text list
    $(window).on('fieldset-textlist-init', function(e, target) {
        target = $(target);

        //TEMPLATES
        var template = $('#fieldset-textlist-row-template');

        //INITITALIZERS
        var init = function(row) {
            $('a.remove', row).click(function() {
                row.remove();
            });
        };

        $('a.field-add span', target).html(
            target.data('placeholder-add')
        );

        $('a.field-add', target).click(function() {
            var row = template.compile({
                NAME: target.data('name')
            });

            $(this).before(row);

            $('input.text-field', row).attr(
                'placeholder',
                target.data('placeholder-value')
            );

            init(row);

            return false;
        });

        //INITIALIZE
        $('div.field-row', target).each(function() {
            init($(this));
        });

        //consider moving up
        //consider moving down
        target.on('fieldset-reindex', function(e, row) {
            var index = $(row).data('index');
            var name = target.data('name-format').replace('{INDEX}', index);

            //SPECIAL CASE: is there a validation row?
            var validationRow = target.parents('div.validation-row');
            if (validationRow.length) {
                name = name.replace('{INDEX}', validationRow.data('index'))
            }

            //add the name back
            target.attr('data-name', name).data('name', name);

            $('div.field-row', target).each(function() {
                $('input', this).attr('name', target.data('name') + '[]');
            });
        });
    });

    // fieldset - slugger
    $(window).on('slugger-init', function(e, target) {
        if (!$(target).hasClass('field-name')) {
            return;
        }

        //validation
        $(target).on('validation-check', function() {
            var name = $(target);
            var type = name.parents('div.modal-body').find('select.field-type').val();

            var message = '<div class="error-message">Keyword is using a reserved word.</div>';

            if(name.val() === 'id') {
                name.addClass('is-error').after(message);
                return;
            }

            if(name.val() === 'active' && type !== 'active') {
                name.addClass('is-error').after(message);
                return;
            }

            if(name.val() === 'created' && type !== 'created') {
                name.addClass('is-error').after(message);
                return;
            }

            if(name.val() === 'updated' && type !== 'updated') {
                name.addClass('is-error').after(message);
                return;
            }

            $('div.schema-fields table input.field-name').not(name).each(function() {
                var value = name.val();
                if($(this).val() === value) {
                    message = '<div class="error-message">Keyword already exists.</div>';
                    name.addClass('is-error').after(message);
                }
            });
        });
    });

    //----------------------------//
    // Relation Events
    $(window).on('schema-relations-init', function(e, target) {
        target = $(target);
        //init
        var init = function(row) {
            //remove relation
            $('a.remove', row).click(function() {
                row.remove();
                //reindex
                $('div.relation-row', target).each(function(i) {
                    $(this)
                        .attr('data-index', i)
                        .data('index', i);

                    var name = target
                        .attr('data-name-format')
                        .replace('{INDEX}', i);

                    $('select.relation-many', this).attr('name', name + '[many]');
                    $('input.relation-name', this).attr('name', name + '[name]');
                });
            });
        };

        //for each relation
        $('div.relation-row', target).each(function() {
            //init
            init(this);
        });

        //add relation
        $('button.relation-add', target).click(function() {
            var last = $('div.relation-row:last', target);

            var index = 0;
            if(last.length) {
                index = parseInt(last.attr('data-index')) + 1;
            }

            var name = target
                .attr('data-name-format')
                .replace('{INDEX}', index);

            var singular = $('input.schema-singular').val() || '??';

            var row = $('#relation-row-template')
                .compile({
                    SINGULAR: singular,
                    NAME: name,
                    INDEX: index
                });

            $(this).before(row);

            init(row);

        });

        //update singular value in relations
        //when the singular changes
        $('input.schema-singular').change(function() {
            $('strong.relation-singular', target).html($(this).val() || '??');
        });
    });

    //----------------------------//
    // Functions
    $.fn.extend({
        compile: function(variables) {
            var template = this.text();

            for(var key in variables) {
                template = template.replace(
                    new RegExp('\{' + key + '\}', 'ig'),
                    variables[key]
                );
            }

            return $(template);
        },
        getModelIndex: function() {
            var index = $(this).parents('div.modal-body').data('index');

            if(typeof index === 'undefined') {
                index = this.parents('tr.schema-field-row').data('index');
            }

            return index;
        },
        formlog: function() {
            $('input,textarea,select', this).each(function() {
                if (!$(this).attr('name')) {
                    return;
                }

                var name = $(this).attr('name');
                var value = $(this).val();

                if($(this).attr('type') === 'checkbox'
                    || $(this).attr('type') === 'radio'
                ) {
                    if (!$(this).prop('checked')) {
                        return;
                    }
                }

                console.log(name, ' = ',value);
            });
        }
    });

    var copy = null;
})(jQuery);
</script>
