<style>
.is-error, .error-message {
    color: #DF0000;
}

input.is-error,
select.is-error,
textarea.is-error {
    border-color: #DF0000;
}

.object-fields .table-overflow {
    overflow: auto;
}

.object-fields .object-action > a {
    display: inline-block;
    margin: 5px 0 0 5px;
}

.input-pair,
.input-input,
.input-keyval,
.input-options,
.input-attributes {
    margin-top: 4px;
}

.input-attributes .attribute-row,
.input-keyval .keyval-row,
.input-options .option-row {
    margin-bottom: 4px;
}

.validation-row {
    margin-bottom: 20px;
}

.input-pair input {
    margin-bottom: 4px
}

.input-attributes .attribute-row,
.input-keyval .keyval-row {
    display: table;
    width: 100%;
}

.input-attributes .attribute-row > *,
.input-keyval .keyval-row > * {
    display: table-cell;
}

.input-attributes .attribute-row input,
.input-keyval .keyval-row input {
    width: 50%;
}

.input-attributes .attribute-row .btn,
.input-keyval .keyval-row .btn {
    width: 37px;
}

.field-disabled .form-group-type,
.field-disabled .form-group-validation,
.field-disabled .form-group-default,
.field-disabled .form-group-indexes {
    display: none;
}

.relation-row {
    margin-bottom: 4px;
}

.relation-row > *{
    display: inline-block;
    margin-right: 10px;
    width: auto;
}
</style>
