<script id="modal-template" type="text/x-template">
    <div class="modal fade modal-create" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{_ 'Create Field'}}</h5>
                    <button
                        class="close"
                        data-do="modal-cancel"
                        data-on="click"
                        type="button"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" data-index="{INDEX}" data-do="modal-form">
                    <div class="form-group form-group-label">
                        <label class="control-label">{{_ 'Label'}}</label>
                        <div>
                            <input
                                class="field-label form-control required"
                                placeholder="{{_ 'Field Title'}}"
                                name="fields[{INDEX}][label]"
                                type="text"
                            />
                        </div>
                    </div>
                    <div class="form-group form-group-name">
                        <label class="control-label">{{_ 'Keyword'}}</label>
                        <div>
                            <input
                                class="field-name form-control required"
                                data-do="slugger"
                                data-source="input[name='fields[{INDEX}][label]']"
                                data-upper="0"
                                data-space="_"
                                name="fields[{INDEX}][name]"
                                placeholder="{{_ 'Enter a unique keyword'}}"
                                type="text"
                            />
                        </div>
                    </div>
                    <div class="form-group form-group-type">
                        <label class="control-label">{{_ 'Type'}}</label>
                        <div>
                            <select
                                class="field-type form-control"
                                name="fields[{INDEX}][field][type]"
                            >
                                {{> options_type}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-validation">
                        <label class="control-label">{{_ 'Validation'}}</label>
                        <div>
                            <button
                                class="btn btn-danger validation-add mt-2"
                                type="button"
                            >
                                <i class="fas fa-plus"></i>
                                {{_ 'Add Validation'}}
                            </button>
                        </div>
                    </div>
                    <div class="form-group form-group-list">
                        <label class="control-label">{{_ 'List Format'}}</label>
                        <div>
                            <select
                                class="field-list form-control"
                                name="fields[{INDEX}][list][format]"
                            >
                                {{> options_format}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-detail">
                        <label class="control-label">{{_ 'Detail Format'}}</label>
                        <div>
                            <select
                                class="field-detail form-control"
                                name="fields[{INDEX}][detail][format]"
                            >
                                {{> options_format}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group form-group-default">
                        <label class="control-label">{{_ 'Default'}}</label>
                        <div>
                            <input
                                class="field-default form-control"
                                placeholder="{{_ 'Default Value'}}"
                                name="fields[{INDEX}][default]"
                                type="text"
                            />
                        </div>
                    </div>

                    <div class="form-group  form-group-indexes">
                        <div>
                            <label class="checkbox checkbox-2">
                                <input
                                    class="field-searchable"
                                    name="fields[{INDEX}][searchable]"
                                    type="checkbox"
                                    value="1"
                                />
                                <span>{{_ 'Searchable'}}</span>
                            </label>
                            <br />
                            <label class="checkbox checkbox-2">
                                <input
                                    class="field-filterable"
                                    name="fields[{INDEX}][filterable]"
                                    type="checkbox"
                                    value="1"
                                />
                                <span>{{_ 'Filterable'}}</span>
                            </label>
                            <br />
                            <label class="checkbox checkbox-2">
                                <input
                                    class="field-sortable"
                                    name="fields[{INDEX}][sortable]"
                                    type="checkbox"
                                    value="1"
                                />
                                <span>{{_ 'Sortable'}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        class="btn btn-danger"
                        data-do="modal-cancel"
                        data-on="click"
                        type="button"
                    >
                        {{_ 'Cancel'}}
                    </button>
                    <button
                        class="btn btn-primary"
                        data-do="modal-save"
                        data-on="click"
                        type="button"
                    >
                        {{_ 'Done'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="field-row-template" type="text/x-template">
    <tr class="schema-field-row" data-index="{INDEX}" data-do="schema-field-row">
        <td class="schema-field-action" nowrap="nowrap" valign="middle">
            <a
                class="schema-field-copy-trigger text-purple"
                href="javascript:void(0)"
            >
                <i class="fas fa-copy fa-fw"></i>
            </a>
            <a
                class="schema-field-update-trigger text-warning"
                href="javascript:void(0)"
            >
                <i class="fas fa-edit fa-fw"></i>
            </a>
            <a
                class="schema-field-move-up-trigger"
                href="javascript:void(0)"
            >
                <i class="fas fa-arrow-up fa-fw"></i>
            </a>
            <a
                class="schema-field-move-down-trigger"
                href="javascript:void(0)"
            >
                <i class="fas fa-arrow-down fa-fw"></i>
            </a>
            <a
                class="schema-field-remove-trigger text-danger"
                href="javascript:void(0)"
            >
                <i class="fas fa-times fa-fw"></i>
            </a>
        </td>
        <td class="schema-field-name-value"></td>
        <td class="schema-field-label-value"></td>
        <td class="schema-field-type-value"></td>
        <td class="schema-field-list-value"></td>
        <td class="schema-field-detail-value"></td>
        <td class="schema-field-default-value"></td>
        <td class="schema-field-searchable-value"></td>
        <td class="schema-field-filterable-value"></td>
        <td class="schema-field-sortable-value"></td>
    </tr>
</script>

<script id="field-validation-row-template" type="text/x-template">
    <div class="validation-row" data-index="{INDEX_2}" data-do="validation-row">
        <div class="input-group mt-2">
            <select
                class="form-control validation-method"
                name="fields[{INDEX_1}][validation][{INDEX_2}][method]"
            >
                {{> options_validation}}
            </select>
            <span class="input-group-btn">
                <a
                    class="btn btn-danger remove"
                    href="javascript:void(0)"
                >
                    <i class="fas fa-times"></i>
                </a>
            </span>
        </div>
        <input
            name="fields[{INDEX_1}][validation][{INDEX_2}][message]"
            class="form-control validation-message mt-2"
            placeholder="{{_ 'Error Message'}}"
            type="text"
        />
    </div>
</script>

<script id="fieldset-attributes-template" type="text/x-template">
    <div class="fieldset-attributes input-fieldset" data-do="fieldset-attributes">
        <a class="field-add btn btn-success mt-2" href="javascript:void(0)">
            <i class="fas fa-plus"></i>
            <span>{{_ 'Add'}}</span>
        </a>
    </div>
</script>

<script id="fieldset-attributes-row-template" type="text/x-template">
    <div class="field-row input-group mt-2 required">
        <input class="input-key form-control" type="text" />
        <input class="input-value form-control" type="text" />
        <input type="hidden" />
        <div class="input-group-append">
            <a class="input-group-text text-danger remove" href="javascript:void(0)">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
</script>

<script id="fieldset-options-template" type="text/x-template">
    <div class="fieldset-options input-fieldset" data-do="fieldset-options">
        <a class="field-add btn btn-success mt-2" href="javascript:void(0)">
            <i class="fas fa-plus"></i>
            <span>{{_ 'Add'}}</span>
        </a>
    </div>
</script>

<script id="fieldset-options-row-template" type="text/x-template">
    <div class="field-row input-group mt-2 required">
        <input
            class="input-key form-control"
            name="{NAME}[key]"
            type="text"
        />
        <input
            class="input-value form-control"
            name="{NAME}[value]"
            type="text"
        />
        <div class="input-group-append">
            <a class="input-group-text text-danger remove" href="javascript:void(0)">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
</script>

<script id="fieldset-textlist-template" type="text/x-template">
    <div class="fieldset-textlist input-fieldset" data-do="fieldset-textlist">
        <a class="field-add btn btn-success mt-2" href="javascript:void(0)">
            <i class="fas fa-plus"></i>
            <span>{{_ 'Add'}}</span>
        </a>
    </div>
</script>

<script id="fieldset-textlist-row-template" type="text/x-template">
    <div class="field-row input-group mt-2">
        <input class="text-field form-control required" type="text" name="{NAME}[]" value="" />
        <div class="input-group-append">
            <a class="input-group-text text-danger remove" href="javascript:void(0)">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
</script>

<script id="fieldset-text-template" type="text/x-template">
    <div class="fieldset-text input-fieldset mt-2" data-do="fieldset-text">
        <input class="form-control required" type="text" />
    </div>
</script>

<script id="fieldset-textpair-template" type="text/x-template">
    <div class="fieldset-textpair input-fieldset" data-do="fieldset-textpair">
        <input class="form-control required field-1 mt-2" type="text" />
        <input class="form-control required field-2 mt-2" type="text" />
    </div>
</script>

<script id="fieldset-textarea-template" type="text/x-template">
    <div class="fieldset-textarea input-fieldset mt-2" data-do="fieldset-textarea">
        <textarea class="form-control required"></textarea>
    </div>
</script>

<script id="relation-row-template" type="text/x-template">
    <div class="relation-row" data-index="{INDEX}" data-name-format="relations[{INDEX}]">
        <a class="remove text-danger" href="javascript:void(0)">
            <i class="fas fa-times"></i>
        </a>
        <strong class="relation-singular">
            {SINGULAR}
        </strong>
        <i class="fas fa-arrow-right"></i>
        <select class="form-control relation-many" name="{NAME}[many]">
            <option value="0">1:0</option>
            <option value="1">1:1</option>
            <option value="2">1:N</option>
            <option value="3">N:N</option>
        </select>
        <i class="fas fa-arrow-right"></i>
        <input
            class="form-control relation-name"
            name="{NAME}[name]"
            placeholder="{{_ 'Enter Schema Keyword'}}"
            type="text"
        />
    </div>
</script>
