<select
    class="field-type form-control"
    data-do="field-type"
    data-on="change"
    name="fields[{{@index}}][field][type]"
>
    {{> options_type}}
</select>

{{#if field.options}}
    <div class="input-keyval">
        {{#each field.options}}
            <div class="keyval-row" data-index="{{@index}}">
                <input
                    class="form-control keyval-key"
                    name="fields[{{../@index}}][field][options][{{@index}}][key]"
                    placeholder="{{_ 'Key'}}"
                    type="text"
                    value="{{./key}}"
                />
                <input
                    class="form-control keyval-value"
                    name="fields[{{../@index}}][field][options][{{@index}}][value]"
                    placeholder="{{_ 'Value'}}"
                    type="text"
                    value="{{value}}"
                />
                <a
                    class="btn btn-danger"
                    data-do="remove"
                    data-on="click"
                    data-level="1"
                    href="javascript:void(0)"
                >
                    <i class="fas fa-times"></i>
                </a>
            </div>
        {{/each}}
        <button
            data-do="keyval-add"
            data-name="fields[{{@index}}][field][options][{INDEX}]"
            data-on="click"
            class="keyval-add btn btn-info"
            type="button"
        >
            {{_ 'Add Option'}}
        </button>
    </div>
{{/if}}

{{#if field.attributes}}
    <div class="input-attributes">
        {{#each field.attributes}}
            <div
                class="attribute-row"
                data-do="attribute-field"
                data-name="fields[{{../@index}}][field][attributes][{INDEX}]"
            >
                <input
                    class="form-control attribute-key"
                    placeholder="{{_ 'Attribute'}}"
                    type="text"
                    value="{{@key}}"
                />
                <input
                    class="form-control attribute-value"
                    name="fields[{{../@index}}][field][attributes][{{@key}}]"
                    placeholder="{{_ 'Value'}}"
                    type="text"
                    value="{{this}}"
                />
                <a
                    class="btn btn-danger"
                    data-do="remove"
                    data-on="click"
                    data-level="1"
                    href="javascript:void(0)"
                >
                    <i class="fas fa-times"></i>
                </a>
            </div>
        {{/each}}
        <button
            data-do="attribute-add"
            data-name="fields[{{@index}}][field][attributes][{INDEX}]"
            data-on="click"
            class="attribute-add btn btn-info"
            type="button"
        >
            {{_ 'Add Attribute'}}
        </button>
    </div>
{{/if}}
