<div class="modal fade modal-update" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Field</h5>
                <button
                    class="close"
                    data-do="modal-cancel"
                    data-on="click"
                    type="button"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group form-group-label">
                    <label class="control-label">Label</label>
                    <div>
                        <input
                            class="field-label form-control"
                            name="fields[{{@index}}][label]"
                            placeholder="Field Title"
                            type="text"
                            value="{{label}}"
                        />
                    </div>
                </div>
                <div class="form-group form-group-name">
                    <label class="control-label">Keyword</label>
                    <div>
                        <input
                            class="field-name form-control"
                            data-do="slugger"
                            data-source="input[name='fields[{{@index}}][label]']"
                            data-upper="0"
                            data-space="_"
                            name="fields[{{@index}}][name]"
                            placeholder="Enter a unique keyword"
                            type="text"
                            value="{{name}}"
                        />
                    </div>
                </div>
                <div class="form-group form-group-type">
                    <label class="control-label">Type</label>
                    <div>
                        {{> types}}
                    </div>
                </div>
                <div class="form-group form-group-validation">
                    <label class="control-label">Validation</label>
                    <div>
                        {{#each validation}}
                            {{> validation}}
                        {{/each}}
                        <button
                            class="btn btn-info"
                            data-do="validation-add"
                            data-on="click"
                            type="button"
                        >
                            Add Validation
                        </button>
                    </div>
                </div>
                <div class="form-group form-group-list">
                    <label class="control-label">List Format</label>
                    <div>
                        {{> lists}}
                    </div>
                </div>
                <div class="form-group form-group-detail">
                    <label class="control-label">Detail Format</label>
                    <div>
                        {{> details}}
                    </div>
                </div>

                <div class="form-group form-group-default">
                    <label class="control-label">Default</label>
                    <div>
                        <input
                            class="field-default form-control"
                            placeholder="Default Value"
                            name="fields[{{@index}}][default]"
                            type="text"
                            value="{{default}}"
                        />
                    </div>
                </div>

                <div class="form-group form-group-indexes">
                    <div>
                        <label class="checkbox checkbox-2">
                            <input
                                class="field-searchable"
                                name="fields[{{@index}}][searchable]"
                                type="checkbox"
                                value="1"
                                {{#if searchable}} checked{{/if}}
                            />
                            <span>Searchable</span>
                        </label>
                        <br />
                        <label class="checkbox checkbox-2">
                            <input
                                class="field-filterable"
                                name="fields[{{@index}}][filterable]"
                                type="checkbox"
                                value="1"
                                {{#if filterable}} checked{{/if}}
                            />
                            <span>Filterable</span>
                        </label>
                        <br />
                        <label class="checkbox checkbox-2">
                            <input
                                class="field-sortable"
                                name="fields[{{@index}}][sortable]"
                                type="checkbox"
                                value="1"
                                {{#if sortable}} checked{{/if}}
                            />
                            <span>Sortable</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{#if disable}}
                    <input
                        class="field-disabled"
                        type="hidden"
                        name="fields[{{@index}}][disable]"
                        value="1"
                    />
                {{/if}}
                <button
                    class="btn btn-danger"
                    data-do="modal-cancel"
                    data-on="click"
                    type="button"
                >
                    Cancel
                </button>
                <button
                    class="btn btn-primary"
                    data-do="modal-save"
                    data-on="click"
                    type="button"
                >
                    Done
                </button>
            </div>
        </div>
    </div>
</div>
