<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin/system/schema/search">
                <i class="fas fa-home"></i> Admin
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/admin/system/schema/search">
                <i class="fas fa-cogs"></i> System Schemas
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{#when action '===' 'create'}}
                <i class="fas fa-plus"></i> {{title}}
            {{else}}
                <i class="fas fa-edit"></i> {{title}}
            {{/when}}
        </li>
    </ol>
</nav>

{{> styles}}
<div class="main-padding">
    <h3 class="main-title">{{title}}</h3>
    <form class="box" enctype="multipart/form-data" method="post">
        <div class="box-body box-padding">
            <div class="form-group">
                <label class="control-label">Singular</label>
                <div>
                    <input
                        class="form-control schema-singular {{#if errors.singular}}is-invalid{{/if}}"
                        name="singular"
                        placeholder="Enter the Singular Name"
                        value="{{item.singular}}"
                        type="text"
                    />

                    {{#if errors.singular}}
                    <div class="invalid-feedback">
                        {{errors.singular}}
                    </div>
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Plural</label>
                <div>
                    <input
                        class="form-control schema-plural {{#if errors.plural}}is-invalid{{/if}}"
                        name="plural"
                        value="{{item.plural}}"
                        placeholder="Enter the Plural Name"
                        type="text"
                    />

                    {{#if errors.plural}}
                    <div class="invalid-feedback">
                        {{errors.plural}}
                    </div>
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Keyword</label>
                <div>
                    {{#if item.disable}}
                        <input
                            class="form-control"
                            disabled="disabled"
                            type="text"
                            value="{{item.name}}"
                        />
                        <input type="hidden" name="name" value="{{item.name}}" />
                    {{else}}
                        <input
                            class="form-control schema-name {{#if errors.name}}is-invalid{{/if}}"
                            data-do="slugger"
                            data-source="input.schema-singular"
                            data-upper="0"
                            data-space="_"
                            name="name"
                            value="{{item.name}}"
                            placeholder="Enter a unique keyword"
                            type="text"
                        />

                        {{#if errors.name}}
                        <div class="invalid-feedback">
                            {{errors.name}}
                        </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Icon</label>
                <div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                {{#if item.icon}}
                                    <i class="{{item.icon}}"></i>
                                {{else}}
                                    <i class="fas fa-question fa-fw"></i>
                                {{/if}}
                            </div>
                        </div>
                        <input
                            class="form-control{{#if errors.icon}} is-invalid{{/if}}"
                            data-do="icon-field"
                            name="icon"
                            placeholder="fas fa-question"
                            type="text"
                            value="{{item.icon}}"
                        />
                    </div>

                    {{#if errors.icon}}
                    <div class="invalid-feedback">
                        {{errors.icon}}
                    </div>
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Detail</label>
                <div>
                    <textarea
                        class="form-control schema-detail {{#if errors.detail}}is-invalid{{/if}}"
                        name="detail"
                        placeholder="What does this schema do?"
                        rows="10"
                    >{{{item.detail}}}</textarea>

                    {{#if errors.detail}}
                    <div class="invalid-feedback">
                        {{errors.detail}}
                    </div>
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Fields</label>
                <div>
                    <div id="schema-fields" class="schema-fields" data-name="fields">
                        <div class="table-overflow">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Keyword</th>
                                        <th>Label</th>
                                        <th>Field</th>
                                        <th>List Format</th>
                                        <th>Detail Format</th>
                                        <th>Default</th>
                                        <th>Searchable</th>
                                        <th>Filterable</th>
                                        <th>Sortable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each item.fields}}
                                        {{> row}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>

                        {{#if errors.fields}}
                            <div class="invalid-feedback">
                                {{errors.fields}}
                            </div><br/>
                        {{/if}}
                        <button
                            class="field-add btn btn-info"
                            data-do="field-add"
                            data-on="click"
                            data-target="#schema-fields tbody"
                            type="button"
                        >
                            Add Field
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group{{#if errors.relations}} has-error{{/if}}">
                <label class="control-label">Relations</label>
                <div>
                    {{#each item.relations}}
                        <div class="relation-row" data-index="{{@index}}">
                            {{#if disable}}
                                <input type="hidden" name="relations[{{@index}}][disable]" value="1" />
                                <i class="fas fa-lock"></i>
                            {{else}}
                                <a
                                    class="text-danger"
                                    data-do="relation-remove"
                                    data-level="1"
                                    data-on="click"
                                    href="javascript:void(0)"
                                >
                                    <i class="fas fa-times"></i>
                                </a>
                            {{/if}}

                            <strong
                                class="relation-singular"
                                data-default="??"
                                data-do="copy-to-text"
                                data-trigger="input.schema-singular"
                            >
                                {{../item.singular}}
                            </strong>

                            <i class="fas fa-arrow-right"></i>

                            {{#if disable}}
                                <input
                                    class="form-control"
                                    disabled="disabled"
                                    type="text"
                                    {{#when many '==' 0}}value="0:1"{{/when}}
                                    {{#when many '==' 1}}value="1:1"{{/when}}
                                    {{#when many '==' 2}}value="1:N"{{/when}}
                                    {{#when many '==' 3}}value="N:N"{{/when}}
                                />
                                <input type="hidden" name="relations[{{@index}}][many]" value="{{many}}" />
                            {{else}}
                                <select
                                    class="form-control relation-many"
                                    name="relations[{{@index}}][many]"
                                >
                                    <option
                                        value="0"
                                        {{#when many '==' 0}}selected{{/when}}
                                    >
                                        1:0
                                    </option>
                                    <option
                                        value="1"
                                        {{#when many '==' 1}}selected{{/when}}
                                    >
                                        1:1
                                    </option>
                                    <option
                                        value="2"
                                        {{#when many '==' 2}}selected{{/when}}
                                    >
                                        1:N
                                    </option>
                                    <option
                                        value="3"
                                        {{#when many '==' 3}}selected{{/when}}
                                    >
                                        N:N
                                    </option>
                                </select>
                            {{/if}}

                            <i class="fas fa-arrow-right"></i>

                            {{#if disable}}
                                <input
                                    class="form-control"
                                    disabled="disabled"
                                    type="text"
                                    value="{{name}}"
                                />
                                <input type="hidden" name="relations[{{@index}}][name]" value="{{name}}" />
                            {{else}}
                                <input
                                    class="form-control relation-name"
                                    name="relations[{{@index}}][name]"
                                    placeholder="Enter Schema Keyword"
                                    type="text"
                                    value="{{name}}"
                                />
                            {{/if}}

                        </div>
                    {{/each}}

                    {{#if errors.relations}}
                        <div class="help-text">{{errors.relations}}</div>
                    {{/if}}

                    <button
                        class="relation-add btn btn-info"
                        data-default="??"
                        data-do="relation-add"
                        data-name="relations[{INDEX}]"
                        data-on="click"
                        type="button"
                    >
                        Add Relation
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Suggestion Format</label>
                <div>
                    <input
                        class="form-control schema-suggestion {{#if errors.plural}}is-invalid{{/if}}"
                        name="suggestion"
                        value="{{item.suggestion}}"
                        placeholder="{\{keyword_field}} - {\{keyword_field}}"
                        type="text"
                    />

                    {{#if errors.suggestion}}
                        <div class="invalid-feedback">
                            {{errors.suggestion}}
                        </div>
                    {{/if}}
                </div>
            </div>

            <div class="clear form-group">
                {{#if disable}}
                    <input type="hidden" name="disable" value="1" />
                {{/if}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{{> templates}}

{{> scripts}}
