{{#when config.format '===' 'none'}}
    {{#is_array this}}
        {{_ 'Array'}}
    {{else}}
        {{~this~}}
    {{/is_array}}
{{/when}}
{{#when config.format '===' 'lower'}}
    {{lower this}}
{{/when}}
{{#when config.format '===' 'upper'}}
    {{upper this}}
{{/when}}
{{#when config.format '===' 'capital'}}
    {{capital this}}
{{/when}}
{{#when config.format '===' 'length'}}
    {{chars this config.parameters}}
{{/when}}
{{#when config.format '===' 'words'}}
    {{words this config.parameters}}
{{/when}}
{{#when config.format '===' 'html'}}
    {{{this}}}
{{/when}}
{{#when config.format '===' 'markdown'}}
    {{{markdown this}}}
{{/when}}
{{#when config.format '===' 'number'}}
    {{number this}}
{{/when}}
{{#when config.format '===' 'price'}}
    {{price this}}
{{/when}}
{{#when config.format '===' 'yes'}}
    {{#if this}}Yes{{else}}No{{/if}}
{{/when}}
{{#when config.format '===' 'stars'}}
    <span class="stars-rating text-warning">
        {{#stars this}}
            {{#when this '===' 'half'}}
                <i class="fas fa-star-half-alt"></i>
            {{/when}}

            {{#when this '===' 'whole'}}
                <i class="fas fa-star"></i>
            {{/when}}

            {{#when this '===' 'empty'}}
                <i class="far fa-star"></i>
            {{/when}}
        {{/stars}}
    </span>
{{/when}}
{{#when config.format '===' 'date'}}
    {{#if this}}
        {{date this config.parameters}}
    {{else}}
        &nbsp;
    {{/if}}
{{/when}}
{{#when config.format '===' 'relative'}}
    {{#if this}}
        {{relative this config.parameters}}
    {{else}}
        &nbsp;
    {{/if}}
{{/when}}
{{#when config.format '===' 'strip'}}
    {{{strip this config.parameters}}}
{{/when}}
{{#when config.format '===' 'link'}}
    <a href="{{compile config.parameters.0 row}}">{{compile config.parameters.1 row}}</a>
{{/when}}
{{#when config.format '===' 'image'}}
    {{#if this}}
        <img
            src="{{this}}"
            {{#if config.parameters.0}}
                width="{{config.parameters.0}}"
            {{/if}}
            {{#if config.parameters.1}}
                height="{{config.parameters.1}}"
            {{/if}}
        />
    {{/if}}
{{/when}}
{{#when config.format '===' 'email'}}
    <a href="mailto:{{this}}">{{compile config.parameters row}}</a>
{{/when}}
{{#when config.format '===' 'phone'}}
    <a href="tel:{{this}}">{{compile config.parameters row}}</a>
{{/when}}
{{#when config.format '===' 'custom'}}
    {{{compile config.parameters row}}}
{{/when}}
{{#when config.format '===' 'comma'}}
    {{join this ', '}}
{{/when}}
{{#when config.format '===' 'space'}}
    {{join this ' '}}
{{/when}}
{{#when config.format '===' 'nl'}}
    {{#each this}}
        {{this}}
        {{#unless @last}}<br />{{/unless}}
    {{/each}}
{{/when}}
{{#when config.format '===' 'ul'}}
    <ul>
        {{#each this}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/when}}
{{#when config.format '===' 'ol'}}
    <ol>
        {{#each this}}
            <li>{{this}}</li>
        {{/each}}
    </ol>
{{/when}}
{{#when config.format '===' 'meta'}}
    <ul class="meta-list">
        {{#each this}}
            <li>
                <span class="key">{{@key}}</span> :
                <span class="this">{{this}}</span>
            </li>
        {{/each}}
    </ul>
{{/when}}
{{#when config.format '===' 'tag'}}
    {{#each this}}
        <div class="badge badge-orange">{{this}}</div>
    {{/each}}
{{/when}}
{{#when config.format '===' 'table'}}
    {{#if this.length}}
        <div class="table-modal">
            <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#{{dot}}"
            >
                {{_ 'View'}}
            </button>
            <div
                class="modal fade"
                id="{{dot}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="{{dot}}"
                aria-hidden="true"
            >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{label}}</h5>
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body table-overflow">
                            <table class="table table-striped table-bordered m-0">
                                {{#if field.columns.length}}
                                    <thead>
                                        <tr>
                                            {{#each field.columns}}
                                                <th>{{this}}</th>
                                            {{/each}}
                                        </tr>
                                    </thead>
                                {{/if}}
                                <tbody>
                                    {{#each this}}
                                        <tr>
                                            {{#each this}}
                                                <td>{{{this}}}</td>
                                            {{/each}}
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                            >{{_ 'Close'}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <div class="alert alert-info">{{_ 'Empty'}}</div>
    {{/if}}
{{/when}}
{{#when config.format '===' 'jsonpretty'}}
    {{{json_pretty this}}}
{{/when}}
{{#when config.format '===' 'formula'}}
    {{formula config.parameters row}}
{{/when}}
