<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin/system/fieldset/search">
                <i class="fas fa-home"></i> {{_ 'Admin'}}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/admin/system/fieldset/search">
                <i class="fas fa-sliders-h"></i> {{_ 'System Fieldsets'}}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{#when action '===' 'create'}}
                <i class="fas fa-plus"></i> {{title}}
            {{else}}
                <i class="fas fa-edit"></i> {{title}}
            {{/when}}
        </li>
    </ol>
</nav>

{{> styles}}

<div class="main-padding">
    <h3 class="main-title">{{title}}</h3>
    <form class="box" enctype="multipart/form-data" method="post">
        <div class="box-body box-padding">
            <div class="form-group">
                <label class="control-label">{{_ 'Singular'}}</label>
                <div>
                    <input
                        class="form-control fieldset-singular {{#if errors.singular}}is-invalid{{/if}}"
                        name="singular"
                        value="{{item.singular}}"
                        type="text"
                    />

                    {{#if errors.singular}}
                        <div class="invalid-feedback">
                            {{errors.singular}}
                        </div>
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">{{_ 'Plural'}}</label>
                <div>
                    <input
                        class="form-control fieldset-plural {{#if errors.plural}}is-invalid{{/if}}"
                        name="plural"
                        value="{{item.plural}}"
                        type="text"
                    />

                    {{#if errors.plural}}
                        <div class="invalid-feedback">
                            {{errors.plural}}
                        </div>
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">{{_ 'Keyword'}}</label>
                <div>
                    {{#if item.disable}}
                        <input
                            class="form-control"
                            disabled="disabled"
                            type="text"
                            value="{{item.name}}"
                        />
                        <input type="hidden" name="name" value="{{item.name}}" />
                    {{else}}
                        <input
                            class="form-control fieldset-name {{#if errors.name}}is-invalid{{/if}}"
                            data-do="slugger"
                            data-source="input.fieldset-singular"
                            data-upper="0"
                            data-space="_"
                            name="name"
                            value="{{item.name}}"
                            placeholder="{{_ 'Enter a unique keyword'}}"
                            type="text"
                        />

                        {{#if errors.name}}
                        <div class="invalid-feedback">
                            {{errors.name}}
                        </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">{{_ 'Fields'}}</label>
                <div class="fieldset-fields" data-do="fieldset-fields">
                    <div class="table-overflow">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{_ 'Action'}}</th>
                                    <th>{{_ 'Keyword'}}</th>
                                    <th>{{_ 'Label'}}</th>
                                    <th>{{_ 'Field'}}</th>
                                    <th>{{_ 'List Format'}}</th>
                                    <th>{{_ 'Detail Format'}}</th>
                                    <th>{{_ 'Default'}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each item.fields}}
                                    {{> row}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                    {{#if errors.fields}}
                        <div class="d-block invalid-feedback">
                            {{errors.fields}}
                        </div><br/>
                    {{/if}}
                    <button
                        class="field-add btn btn-info"
                        type="button"
                    >
                        <i class="fas fa-plus"></i>
                        {{_ 'Add Field'}}
                    </button>
                </div>
            </div>

            <div class="clear form-group">
                {{#if item.disable}}
                    <input type="hidden" name="disable" value="1" />
                {{/if}}
                <button type="submit" class="btn btn-primary">{{_ 'Submit'}}</button>
            </div>
        </div>
    </form>
</div>

{{> templates}}

{{> scripts}}
