<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin/system/fieldset/search">
                <i class="fas fa-home"></i> Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-database"></i> {{title}}
        </li>
    </ol>
</nav>

<div class="main-padding">
    {{#if filter.active}}
        <h3 class="main-title">
            <i class="fas fa-database"></i> {{number total}} {{title}}
        </h3>
    {{else}}
        <h3 class="main-title">
            <i class="fas fa-database"></i> {{number total}} Inactive {{title}}
        </h3>
    {{/if}}

    <div class="clearfix mb-4 search-actions">
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-primary" href="?filter[active]=1">
                {{_ 'Active'}}
            </a>
            <a class="btn btn-danger" href="?filter[active]=0">
                {{_ 'Inactive'}}
            </a>
        </div>

        <div class="float-right">
            <a class="btn btn-success" href="/admin/system/fieldset/create?redirect_uri={{redirecturl}}">
                <i class="fas fa-plus"></i> {{_ 'Create Fieldset'}}
            </a>
        </div>
    </div>

    <form method="post">
        <div class="table-overflow">
        {{#if rows}}
            <!-- START: TABLE -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{_ 'Actions'}}</th>
                        <th>{{_ 'Fieldset'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each rows}}
                        <tr data-id="{{name}}">
                            <td>
                                <a
                                    class="text-purple"
                                    href="/admin/system/fieldset/create?copy={{name}}&redirect_uri={{redirecturl}}"
                                    title="{{_ 'Copy %s' label}}"
                                >
                                    <i class="fa fa-copy"></i>
                                </a>
                                {{#if ../filter.active}}
                                    <a class="text-info" title="Edit" href="/admin/system/fieldset/update/{{name}}?redirect_uri={{redirecturl}}">
                                    <i class="fas fa-edit"></i></a>
                                    {{#if disable}}
                                        <i class="fas fa-lock fa-fw"></i>
                                    {{else}}
                                        <a class="text-danger" title="{{_ 'Remove'}}" href="/admin/system/fieldset/remove/{{name}}?redirect={{redirecturl}}"
                                        class="text-danger remove"><i class="fas fa-times"></i></a>
                                    {{/if}}
                                {{else}}
                                    <a title="{{_ 'Restore'}}" href="/admin/system/fieldset/restore/{{name}}?redirect_uri={{redirecturl}}" class="text-success restore">
                                    <i class="fas fa-external-link-alt"></i></a>
                                {{/if}}
                            </td>
                            <td>{{capital singular}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <!-- END: TABLE -->
        {{else}}
            <!-- START: NO RESULTS -->
            <div class="well no-results">{{_ 'No Results Found.'}}</div>
            <!-- END: NO RESULTS -->
        {{/if}}
        </table>
    </form>
</div>
