<option
    value="none"
    {{#when field.type '===' 'none'}}selected{{/when}}
>
    No Field
</option>
<optgroup label="String Fields">
    <option
        data-fieldset="attributes"
        data-format="string|date|html"
        value="text"
        {{#when field.type '===' 'text'}}selected{{/when}}
    >
        Text Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|date|html"
        value="email"
        {{#when field.type '===' 'email'}}selected{{/when}}
    >
        Email Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|date|html"
        value="password"
        {{#when field.type '===' 'password'}}selected{{/when}}
    >
        Password Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|date|html"
        value="search"
        {{#when field.type '===' 'search'}}selected{{/when}}
    >
        Search Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|date|html"
        value="url"
        {{#when field.type '===' 'url'}}selected{{/when}}
    >
        URL Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|date|html"
        value="color"
        {{#when field.type '===' 'color'}}selected{{/when}}
    >
        Color Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|date|html"
        value="mask"
        {{#when field.type '===' 'mask'}}selected{{/when}}
    >
        Mask Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|date|html"
        value="slug"
        {{#when field.type '===' 'slug'}}selected{{/when}}
    >
        Slug Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|date|html"
        value="textarea"
        {{#when field.type '===' 'textarea'}}selected{{/when}}
    >
        Textarea Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|html"
        value="wysiwyg"
        {{#when field.type '===' 'wysiwyg'}}selected{{/when}}
    >
        WYSIWYG Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|html"
        value="markdown"
        {{#when field.type '===' 'markdown'}}selected{{/when}}
    >
        Markdown Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|html"
        value="code"
        {{#when field.type '===' 'code'}}selected{{/when}}
    >
        Code Editor Field
    </option>
</optgroup>
<optgroup label="Number Fields">
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="number"
        {{#when field.type '===' 'number'}}selected{{/when}}
    >
        Number Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="small"
        {{#when field.type '===' 'small'}}selected{{/when}}
    >
        Small Number Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="range"
        {{#when field.type '===' 'range'}}selected{{/when}}
    >
        Range Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="float"
        {{#when field.type '===' 'float'}}selected{{/when}}
    >
        Float Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="price"
        {{#when field.type '===' 'price'}}selected{{/when}}
    >
        Price Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="stars"
        {{#when field.type '===' 'stars'}}selected{{/when}}
    >
        Star Rating Field
    </option>
</optgroup>
<optgroup label="Date Fields">
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="date"
        {{#when field.type '===' 'date'}}selected{{/when}}
    >
        Date Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="time"
        {{#when field.type '===' 'time'}}selected{{/when}}
    >
        Time Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="datetime"
        {{#when field.type '===' 'datetime'}}selected{{/when}}
    >
        Date Time Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="week"
        {{#when field.type '===' 'week'}}selected{{/when}}
    >
        Week Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="number|date|html"
        value="month"
        {{#when field.type '===' 'month'}}selected{{/when}}
    >
        Month Field
    </option>
</optgroup>
<optgroup label="Option Fields">
    <option
        data-fieldset="attributes"
        data-format="number|html"
        value="checkbox"
        {{#when field.type '===' 'checkbox'}}selected{{/when}}
    >
        Checkbox Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="number|html"
        value="switch"
        {{#when field.type '===' 'switch'}}selected{{/when}}
    >
        Switch Field
    </option>
    <option
        data-fieldset="attributes|options"
        data-format="string|number|date|html"
        value="select"
        {{#when field.type '===' 'select'}}selected{{/when}}
    >
        Select Field
    </option>
    <option
        data-fieldset="attributes|options"
        data-format="json"
        value="multiselect"
        {{#when field.type '===' 'multiselect'}}selected{{/when}}
    >
        Multi Select Field
    </option>
    <option
        data-fieldset="attributes|options"
        data-format="json"
        value="checkboxes"
        {{#when field.type '===' 'checkboxes'}}selected{{/when}}
    >
        Checkboxes Fieldset
    </option>
    <option
        data-fieldset="attributes|options"
        data-format="string|number|date|html"
        value="radios"
        {{#when field.type '===' 'radios'}}selected{{/when}}
    >
        Radios Fieldset
    </option>
</optgroup>
<optgroup label="File Fields">
    <option
        data-fieldset="attributes"
        data-format="string|html"
        value="file"
        {{#when field.type '===' 'file'}}selected{{/when}}
    >
        File Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="string|html"
        value="image"
        {{#when field.type '===' 'image'}}selected{{/when}}
    >
        Image Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="filelist"
        {{#when field.type '===' 'filelist'}}selected{{/when}}
    >
        File List Fieldset
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="imagelist"
        {{#when field.type '===' 'imagelist'}}selected{{/when}}
    >
        Image List Fieldset
    </option>
</optgroup>
<optgroup label="JSON Fields">
    <option
        data-fieldset="attributes"
        data-format="json"
        value="tag"
        {{#when field.type '===' 'tag'}}selected{{/when}}
    >
        Tag List Fieldset
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="textlist"
        {{#when field.type '===' 'textlist'}}selected{{/when}}
    >
        Text List Fieldset
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="textarealist"
        {{#when field.type '===' 'textarealist'}}selected{{/when}}
    >
        Textarea List Fieldset
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="wysiwyglist"
        {{#when field.type '===' 'wysiwyglist'}}selected{{/when}}
    >
        WYSIWYG List Fieldset
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="meta"
        {{#when field.type '===' 'meta'}}selected{{/when}}
    >
        Meta Fieldset
    </option>
    <option
        data-fieldset="attributes|table"
        data-format="json"
        value="table"
        {{#when field.type '===' 'table'}}selected{{/when}}
    >
        Table
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="multirange"
        {{#when field.type '===' 'multirange'}}selected{{/when}}
    >
        Multi Range Field
    </option>
    <option
        data-fieldset="attributes|fieldset"
        data-format="json"
        value="fieldset"
        {{#when field.type '===' 'fieldset'}}selected{{/when}}
    >
        Custom Fieldset
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="rawjson"
        {{#when field.type '===' 'rawjson'}}selected{{/when}}
    >
        JSON Object Field
    </option>
</optgroup>
<optgroup label="_________">
    <option
        data-default="1"
        data-format="string"
        data-validation="0"
        value="uuid"
        {{#when field.type '===' 'uuid'}}selected{{/when}}
    >
        Unique ID
    </option>
</optgroup>
