<a
    class="text-purple"
    {{#if ../relation.suggestion}}
        href="../../{{scope ../relation.data ../relation.schema.primary}}/create/{{../schema.name}}?copy={{scope this ../schema.primary}}&redirect_uri={{redirecturl}}"
    {{else}}
        href="create?copy={{scope this ../schema.primary}}&redirect_uri={{redirecturl}}"
    {{/if}}
    title="{{_ 'Copy %s' ../schema.singular}}"
>
    <i class="fa fa-copy"></i>
</a>

{{#active ../schema.name this}}
    <a
        class="text-blue"
        {{#if ../relation.suggestion}}
            href="../../../{{../schema.name}}/detail/{{scope this ../schema.primary}}"
        {{else}}
            href="detail/{{scope this ../schema.primary}}"
        {{/if}}
        title="{{_ 'View %s' ../schema.singular}}"
    >
        <i class="fa fa-eye"></i>
    </a>

    <a
        class="text-grey"
        {{#if ../relation.suggestion}}
            href="../../../{{../schema.name}}/update/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
        {{else}}
            href="update/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
        {{/if}}
        title="{{_ 'Edit %s' ../schema.singular}}"
    >
        <i class="fa fa-edit"></i>
    </a>

    {{#each ../schema.relations}}
        {{#in '2,3' many}}
            {{#if ../../relation.suggestion}}
                <a
                    class="text-info"
                    title="{{_ 'View %s' plural}}"
                    href="../../../{{source.name}}/{{scope ../this source.primary}}/search/{{name}}"
                >
                    <i class="{{icon}}"></i>
                </a>
            {{else}}
                <a
                    class="text-info"
                    title="{{_ 'View %s' plural}}"
                    href="{{scope ../this source.primary}}/search/{{name}}"
                >
                    <i class="{{icon}}"></i>
                </a>
            {{/if}}
        {{/in}}
    {{/each}}

    {{#relations ../schema.name 3 'reverse'}}
        <a
            class="text-info"
            title="{{_ 'View %s' source.plural}}"
            {{#if ../../relation.suggestion}}
                href="../../../{{name}}/{{scope ../this primary}}/search/{{source.name}}"
            {{else}}
                href="{{scope ../this primary}}/search/{{source.name}}"
            {{/if}}
        >
            <i class="{{source.icon}}"></i>
        </a>
    {{/relations}}

    {{#if ../relation.suggestion}}
        <a
            class="text-pink remove"
            href="../../../{{../relation.schema.name}}/{{scope ../relation.data ../relation.schema.primary}}/unlink/{{../schema.name}}/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
            title="{{_ 'Unlink %s' ../schema.singular}}"
        >
            <i class="fa fa-unlink"></i>
        </a>

        <a
            class="text-danger remove"
            href="../../../{{../schema.name}}/remove/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
            title="{{_ 'Remove %s' ../schema.singular}}"
        >
            <i class="fa fa-times"></i>
        </a>
    {{else}}
        <a
            class="text-danger remove"
            href="remove/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
            title="{{_ 'Remove %s' ../schema.singular}}"
        >
            <i class="fa fa-times"></i>
        </a>
    {{/if}}
{{else}}
    <a
        class="text-success restore"
        {{#if ../relation.suggestion}}
            href="../../restore/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
        {{else}}
            href="restore/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
        {{/if}}
        title="{{_ 'Restore %s' ../schema.singular}}"
    >
        <i class="fas fa-external-link-alt"></i>
    </a>
{{/active}}
