<a
    class="text-purple"
    {{#if ../relation.suggestion}}
        href="/admin/system/model/{{../schema.name}}/create/{{../relation.schema.name}}/{{scope ../relation.data ../relation.schema.primary}}?copy={{key this ../schema.primary}}&redirect_uri={{redirecturl}}"
    {{else}}
        href="/admin/system/model/{{../schema.name}}/create?copy={{scope this ../schema.primary}}&redirect_uri={{redirecturl}}"
    {{/if}}
    title="{{_ 'Copy %s' ../schema.singular}}"
>
    <i class="fa fa-copy"></i>
</a>

{{#active ../schema.name this}}
    <a
        class="text-grey"
        href="/admin/system/model/{{../schema.name}}/update/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
        title="{{_ 'Edit %s' ../schema.singular}}"
    >
        <i class="fa fa-edit"></i>
    </a>

    {{#relations ../schema.name 3 'reverse'}}
        <a
            class="text-info"
            title="{{_ 'View %s' source.plural}}"
            href="/admin/system/model/{{name}}/{{scope ../this primary}}/search/{{source.name}}"
        >
            <i class="{{source.icon}}"></i>
        </a>
    {{else}}
        {{#each ../schema.relations}}
            {{#in '2,3' many}}
                <a
                    class="text-info"
                    title="{{_ 'View %s' plural}}"
                    href="/admin/system/model/{{source.name}}/{{scope ../this source.primary}}/search/{{name}}"
                >
                    <i class="{{icon}}"></i>
                </a>
            {{/in}}
        {{/each}}
    {{/relations}}

    {{#if ../relation.suggestion}}
        <a
            class="text-pink remove"
            href="/admin/system/model/{{../relation.schema.name}}/{{scope ../relation.data ../relation.schema.primary}}/unlink/{{../schema.name}}/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
            title="{{_ 'Unlink %s' ../schema.singular}}"
        >
            <i class="fa fa-unlink"></i>
        </a>
    {{/if}}

    <a
        class="text-danger remove"
        href="/admin/system/model/{{../schema.name}}/remove/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
        title="{{_ 'Remove %s' ../schema.singular}}"
    >
        <i class="fa fa-times"></i>
    </a>
{{else}}
    <a
        class="text-success restore"
        href="/admin/system/model/{{../schema.name}}/restore/{{scope this ../schema.primary}}?redirect_uri={{redirecturl}}"
        title="{{_ 'Restore %s' ../schema.singular}}"
    >
        <i class="fas fa-external-link-alt"></i>
    </a>
{{/active}}
