<option
    value="none"
    {{#when field.type '===' 'none'}}selected{{/when}}
>
    No Field
</option>
<optgroup label="String Fields">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="text"
        {{#when field.type '===' 'text'}}selected{{/when}}
    >
        Text Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="email"
        {{#when field.type '===' 'email'}}selected{{/when}}
    >
        Email Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="password"
        {{#when field.type '===' 'password'}}selected{{/when}}
    >
        Password Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="search"
        {{#when field.type '===' 'search'}}selected{{/when}}
    >
        Search Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="url"
        {{#when field.type '===' 'url'}}selected{{/when}}
    >
        URL Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="color"
        {{#when field.type '===' 'color'}}selected{{/when}}
    >
        Color Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="mask"
        {{#when field.type '===' 'mask'}}selected{{/when}}
    >
        Mask Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="slug"
        {{#when field.type '===' 'slug'}}selected{{/when}}
    >
        Slug Field
    </option>
    <option
        data-index="searchable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="textarea"
        {{#when field.type '===' 'textarea'}}selected{{/when}}
    >
        Textarea Field
    </option>
    <option
        data-index="searchable"
        data-fieldset="attributes"
        data-format="string|html"
        value="wysiwyg"
        {{#when field.type '===' 'wysiwyg'}}selected{{/when}}
    >
        WYSIWYG Field
    </option>
    <option
        data-index="searchable"
        data-fieldset="attributes"
        data-format="string|html"
        value="markdown"
        {{#when field.type '===' 'markdown'}}selected{{/when}}
    >
        Markdown Field
    </option>
</optgroup>
<optgroup label="Number Fields">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="number"
        {{#when field.type '===' 'number'}}selected{{/when}}
    >
        Number Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="small"
        {{#when field.type '===' 'small'}}selected{{/when}}
    >
        Small Number Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="range"
        {{#when field.type '===' 'range'}}selected{{/when}}
    >
        Range Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="float"
        {{#when field.type '===' 'float'}}selected{{/when}}
    >
        Float Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="price"
        {{#when field.type '===' 'price'}}selected{{/when}}
    >
        Price Field
    </option>
</optgroup>
<optgroup label="Date Fields">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="date"
        {{#when field.type '===' 'date'}}selected{{/when}}
    >
        Date Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="time"
        {{#when field.type '===' 'time'}}selected{{/when}}
    >
        Time Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="datetime"
        {{#when field.type '===' 'datetime'}}selected{{/when}}
    >
        Date Time Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="week"
        {{#when field.type '===' 'week'}}selected{{/when}}
    >
        Week Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="month"
        {{#when field.type '===' 'month'}}selected{{/when}}
    >
        Month Field
    </option>
</optgroup>
<optgroup label="Option Fields">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|html"
        value="checkbox"
        {{#when field.type '===' 'checkbox'}}selected{{/when}}
    >
        Checkbox Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|html"
        value="switch"
        {{#when field.type '===' 'switch'}}selected{{/when}}
    >
        Switch Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes|keyval"
        data-format="string|number|date|html"
        value="select"
        {{#when field.type '===' 'select'}}selected{{/when}}
    >
        Select Field
    </option>
    <option
        data-fieldset="attributes|keyval"
        data-format="json"
        value="checkboxes"
        {{#when field.type '===' 'checkboxes'}}selected{{/when}}
    >
        Checkboxes Fieldset
    </option>
    <option
        data-fieldset="attributes|keyval"
        data-format="string|number|date|html"
        value="radios"
        {{#when field.type '===' 'radios'}}selected{{/when}}
    >
        Radios Fieldset
    </option>
</optgroup>
<optgroup label="File Fields">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|html"
        value="file"
        {{#when field.type '===' 'file'}}selected{{/when}}
    >
        File Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|html"
        value="image"
        {{#when field.type '===' 'image'}}selected{{/when}}
    >
        Image Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="files"
        {{#when field.type '===' 'files'}}selected{{/when}}
    >
        Files Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="images"
        {{#when field.type '===' 'images'}}selected{{/when}}
    >
        Images Fieldset
    </option>
</optgroup>
<optgroup label="JSON Fields">
    <option
        data-fieldset="attributes"
        data-format="json"
        value="tag"
        {{#when field.type '===' 'tag'}}selected{{/when}}
    >
        Tag Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="meta"
        {{#when field.type '===' 'meta'}}selected{{/when}}
    >
        Meta Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="multirange"
        {{#when field.type '===' 'multirange'}}selected{{/when}}
    >
        Multi Range Field
    </option>
</optgroup>
<optgroup label="_________">
    <option
        data-default="1"
        data-filterable="1"
        data-format="string"
        data-index="filterable|searchable"
        data-searchable="1"
        data-sortable="0"
        data-validation="0"
        value="uuid"
        {{#when field.type '===' 'uuid'}}selected{{/when}}
    >
        Unique ID
    </option>
    <option
        data-default="1"
        data-filterable="1"
        data-format="number"
        data-index="filterable|sortable"
        data-name="active"
        data-label="Active"
        data-searchable="0"
        data-sortable="1"
        data-validation="0"
        value="active"
        {{#when field.type '===' 'active'}}selected{{/when}}
    >
        Active
    </option>
    <option
        data-default="NOW()"
        data-filterable="0"
        data-format="date"
        data-index="sortable"
        data-name="created"
        data-label="Created"
        data-searchable="0"
        data-sortable="1"
        data-validation="0"
        value="created"
        {{#when field.type '===' 'created'}}selected{{/when}}
    >
        Created
    </option>
    <option
        data-default="NOW()"
        data-filterable="0"
        data-format="date"
        data-index="sortable"
        data-name="updated"
        data-label="Updated"
        data-searchable="0"
        data-sortable="1"
        data-validation="0"
        value="updated"
        {{#when field.type '===' 'updated'}}selected{{/when}}
    >
        Updated
    </option>
</optgroup>
