<optgroup label="General Validation">
    <option value="required"
        {{~#when method '===' 'required'}} selected{{/when~}}
    >Required</option>
    <option value="empty"
        {{~#when method '===' 'empty'}} selected{{/when~}}
    >Not Empty</option>
    <option value="ne"
        {{~#when method '===' 'ne'}} selected{{/when~}}
    >Not Equal</option>
    <option value="one"
        {{~#when method '===' 'one'}} selected{{/when~}}
    >Valid Option</option>
    <option value="unique"
        {{~#when method '===' 'unique'}} selected{{/when~}}
    >Unique</option>
</optgroup>
<optgroup label="String Validation">
    <option value="char_lt"
        {{~#when method '===' 'char_lt'}} selected{{/when~}}
    >Characters Less Than</option>
    <option value="char_lte"
        {{~#when method '===' 'char_lte'}} selected{{/when~}}
    >Characters Less Than Equals</option>
    <option value="char_gt"
        {{~#when method '===' 'char_gt'}} selected{{/when~}}
    >Characters Greater Than</option>
    <option value="char_gte"
        {{~#when method '===' 'char_gte'}} selected{{/when~}}
    >Characters Greater Than Equals</option>
    <option value="word_lt"
        {{~#when method '===' 'word_lt'}} selected{{/when~}}
    >Word Less Than</option>
    <option value="word_lte"
        {{~#when method '===' 'word_lte'}} selected{{/when~}}
    >Word Less Than Equals</option>
    <option value="word_gt"
        {{~#when method '===' 'word_gt'}} selected{{/when~}}
    >Word Greater Than</option>
    <option value="word_gte"
        {{~#when method '===' 'word_gte'}} selected{{/when~}}
    >Word Greater Than Equals</option>
</optgroup>
<optgroup label="Number Validation">
    <option value="number"
        {{~#when method '===' 'number'}} selected{{/when~}}
    >Valid Number</option>
    <option value="float"
        {{~#when method '===' 'float'}} selected{{/when~}}
    >Valid Float</option>
    <option value="price"
        {{~#when method '===' 'price'}} selected{{/when~}}
    >Valid Price</option>
    <option value="lt"
        {{~#when method '===' 'lt'}} selected{{/when~}}
    >Less Than</option>
    <option value="lte"
        {{~#when method '===' 'lte'}} selected{{/when~}}
    >Less Than Equals</option>
    <option value="gt"
        {{~#when method '===' 'gt'}} selected{{/when~}}
    >Greater Than</option>
    <option value="gte"
        {{~#when method '===' 'gte'}} selected{{/when~}}
    >Greater Than Equals</option>
</optgroup>
<optgroup label="Date Validation">
    <option value="date"
        {{~#when method '===' 'date'}} selected{{/when~}}
    >Valid Date</option>
    <option value="time"
        {{~#when method '===' 'time'}} selected{{/when~}}
    >Valid Time</option>
    <option value="datetime"
        {{~#when method '===' 'datetime'}} selected{{/when~}}
    >Valid DateTime</option>
</optgroup>
<optgroup label="Type Validation">
    <option value="email"
        {{~#when method '===' 'email'}} selected{{/when~}}
    >Valid Email</option>
    <option value="url"
        {{~#when method '===' 'url'}} selected{{/when~}}
    >Valid URL</option>
    <option value="hex"
        {{~#when method '===' 'hex'}} selected{{/when~}}
    >Valid Hex</option>
    <option value="cc"
        {{~#when method '===' 'cc'}} selected{{/when~}}
    >Valid Credit Card</option>
</optgroup>
<optgroup label="_________">
    <option value="regex"
        {{~#when method '===' 'regex'}} selected{{/when~}}
    >Valid Expression</option>
</optgroup>
