<div class="form-group form-group-list">
    <label class="control-label">{{_ 'List Format'}}</label>
    <div>
        <select
            class="field-list form-control"
            name="fields[{{@index}}][list][format]"
        >
            {{> options_format list}}
        </select>

        {{#in 'length,words,date,relative,strip' list.format}}
            <div
                class="fieldset-text input-fieldset mt-2"
                data-do="fieldset-text"
                data-name="fields[{{@index}}][list][parameters]"
                data-name-format="fields[{INDEX}][list][parameters]"
                {{#when list.format '===' 'length'}}
                    data-placeholder="{{_ 'How many characters'}}"
                {{/when}}
                {{#when list.format '===' 'words'}}
                    data-placeholder="{{_ 'How many words'}}"
                {{/when}}
                {{#when list.format '===' 'date'}}
                    data-placeholder="{{_ 'Date Format'}}"
                {{/when}}
                {{#when list.format '===' 'relative'}}
                    data-placeholder="{{_ 'Date Format'}}"
                {{/when}}
                {{#when list.format '===' 'strip'}}
                    data-placeholder="{{_ 'Allowed Tags ie: <a><b><i>...'}}"
                {{/when}}
            >
                <input
                    class="form-control required"
                    type="text"
                    {{#when list.format '===' 'length'}}
                        placeholder="{{_ 'How many characters'}}"
                    {{/when}}
                    {{#when list.format '===' 'words'}}
                        placeholder="{{_ 'How many words'}}"
                    {{/when}}
                    {{#when list.format '===' 'date'}}
                        data-placeholder="{{_ 'Date Format'}}"
                    {{/when}}
                    {{#when list.format '===' 'relative'}}
                        placeholder="{{_ 'Date Format'}}"
                    {{/when}}
                    {{#when list.format '===' 'strip'}}
                        placeholder="{{_ 'Allowed Tags ie: <a><b><i>...'}}"
                    {{/when}}
                    name="fields[{{@index}}][list][parameters]"
                    value="{{list.parameters}}"
                />
            </div>
        {{/in}}

        {{#in 'email,phone,formula,custom' list.format}}
            <div
                class="fieldset-textarea input-fieldset mt-2"
                data-do="fieldset-textarea"
                data-name="fields[{{@index}}][detail][parameters]"
                data-name-format="fields[{INDEX}][detail][parameters]"
                {{#when list.format '===' 'email'}}
                    data-placeholder="Label or {\{value}}"
                {{/when}}
                {{#when list.format '===' 'phone'}}
                    data-placeholder="Label or {\{value}}"
                {{/when}}
                {{#when list.format '===' 'formula'}}
                    data-placeholder="({\{salary}} * {\{tax}}) / 10"
                {{/when}}
                {{#when list.format '===' 'custom'}}
                    data-placeholder="{\{user_first}} {\{user_last}}"
                {{/when}}
            >
                <textarea
                    class="form-control required"
                    {{#when list.format '===' 'email'}}
                        placeholder="Label or {\{value}}"
                    {{/when}}
                    {{#when list.format '===' 'phone'}}
                        placeholder="Label or {\{value}}"
                    {{/when}}
                    {{#when list.format '===' 'formula'}}
                        placeholder="({\{salary}} * {\{tax}}) / 10"
                    {{/when}}
                    {{#when list.format '===' 'custom'}}
                        placeholder="{\{user_first}} {\{user_last}}"
                    {{/when}}
                    name="fields[{{@index}}][detail][parameters]"
                >{{list.parameters}}</textarea>
            </div>
        {{/in}}

        {{#in 'link,image' list.format}}
            <div
                class="fieldset-textpair input-fieldset"
                data-do="fieldset-textpair"
                data-name="fields[{{@index}}][list][parameters]"
                data-name-format="fields[{INDEX}][list][parameters]"
                {{#when list.format '===' 'link'}}
                    data-placeholder-1="ie. /node/{\{node_id}}"
                    data-placeholder-2="Label or {\{value}}"
                {{/when}}
                {{#when list.format '===' 'image'}}
                    data-placeholder-1="{{_ 'Width'}}"
                    data-placeholder-2="{{_ 'Height'}}"
                {{/when}}
            >
                <input
                    class="form-control required field-1 mt-2"
                    type="text"
                    {{#when list.format '===' 'link'}}
                        placeholder="ie. /node/{\{node_id}}"
                    {{/when}}
                    {{#when list.format '===' 'image'}}
                        placeholder="{{_ 'Width'}}"
                    {{/when}}
                    name="fields[{{@index}}][list][parameters][0]"
                    value="{{list.parameters.0}}"
                />
                <input
                    class="form-control required field-2 mt-2"
                    type="text"
                    {{#when list.format '===' 'link'}}
                        placeholder="Label or {\{value}}"
                    {{/when}}
                    {{#when list.format '===' 'image'}}
                        placeholder="{{_ 'Height'}}"
                    {{/when}}
                    name="fields[{{@index}}][list][parameters][1]"
                    value="{{list.parameters.1}}"
                />
            </div>
        {{/in}}
    </div>
</div>
